.footer
    .container.footer__container
        .footer__row
            .footer__start
                a.footer__logo
                    img(src="img/icons/logo-footer.svg" width="187" height="48" alt="Astra Linux")
                    
                .footer__copy
                    p ООО «РусБИТех-Астра» <br> 2008–2022

            .footer__panel
                .footer__nav
                    ul
                        li
                            a(href="#") О компании

                        li
                            a(href="#") Новости

                        li
                            a(href="#") Мероприятия

                        li
                            a(href="#") Карьера

                        li
                            a(href="#") Партнерам

                    ul
                        li
                            a(href="#") Пользовательское соглашение

                        li
                            a(href="#") Политика обработки файлов сookie

                        li
                            a(href="#") Пользовательское соглашение

                        li
                            a(href="#") Торговые марки

                        li
                            a(href="#") Карта сайта

                .footer__contacts
                    a.footer__link(href="#") Wiki-библиотека для разработчиков

                    .footer__contacts-body
                        h5.footer__title Контакты

                        ul.footer__contacts-list
                            li.footer__contacts-item.footer__contacts-item--phone
                                a.footer__contacts-link(href="tel:+7 495 369 48 16") +7 495 369 48 16

                            li.footer__contacts-item.footer__contacts-item--email
                                a.footer__contacts-link(href="email:info@astralinux.ru") info@astralinux.ru

            .footer__
                .social.footer__social
                    a.social__link.social__link--tg(href="" title="Go to Telegram") 
                    a.social__link.social__link--vk(href="" title="Go to VK") 
                    a.social__link.social__link--ok(href="" title="Go to Ok") 
                    a.social__link.social__link--ya(href="" title="Go to Yandex Dzen") 
                    a.social__link.social__link--rutube(href="" title="Go to Rutube") 
                    a.social__link.social__link--habr(href="" title="Go to Habr") 

                a.btn.btn--border-light(href="#") Сообщить об уязвимости

                    
                



