.search.search--popup
    .container
        .search__head
            .search__title Поиск

            button.btn.btn--reset.btn--cross.search__close(aria-label="Close search")

        form.search__form(action="/" method="/")
            input.search__form-input(type="text" placeholder="Ввести" required)
            button.btn.btn--reset.btn--search.search__form-btn(aria-label="Send form")

        .search__body
            .search__aside
                .search__aside-title Ранее искали

                ul.search__aside-list
                    li.search__aside-item
                        a.search__aside-link(href="#") Структура компании

                    li.search__aside-item
                        a.search__aside-link(href="#") История компании

                    li.search__aside-item
                        a.search__aside-link(href="#") Миссия

                    li.search__aside-item
                        a.search__aside-link(href="#") Позиционирование

                    li.search__aside-item
                        a.search__aside-link(href="#") Стратегия

            .search__result
                .search__categories
                    ul.search__categories-list
                        li.search__categories-item
                            a.search__categories-link(href="#") Компания

                        li.search__categories-item
                            a.search__categories-link(href="#") Карьера

                        li.search__categories-item
                            a.search__categories-link(href="#") Мероприятия

                        li.search__categories-item
                            a.search__categories-link(href="#") Прикладное ПО ГК «Астра»

                        li.search__categories-item
                            a.search__categories-link(href="#") Операционные системы

                        li.search__categories-item
                            a.search__categories-link(href="#") Отраслевые решения

                        li.search__categories-item
                            a.search__categories-link(href="#") Ready For Astra Linux

                        li.search__categories-item
                            a.search__categories-link(href="#") Совместимое ПО

                        li.search__categories-item
                            a.search__categories-link(href="#") Совместимое оборудование

                        li.search__categories-item
                            a.search__categories-link(href="#") Поддержка

                        li.search__categories-item
                            a.search__categories-link(href="#") Обучение

                        li.search__categories-item
                            a.search__categories-link(href="#") Авторизованные учебные центры

                        li.search__categories-item
                            a.search__categories-link(href="#") Astra-карьера

                        li.search__categories-item
                            a.search__categories-link(href="#") Справочная информация

                        li.search__categories-item
                            a.search__categories-link(href="#") Пресс-центр

                        li.search__categories-item
                            a.search__categories-link(href="#") Документы