section.section
    .container
        .title__block
            h2 Программа конференции

        .program
            .program__row
                .program__menu
                    ul.program__menu-list
                        li.program__menu-btn(data-active-tab='program-section-0')
                            .program__menu-btn-headline Пленерная секция
                            .program__menu-btn-title На пути к глобальной ИТ-трансформации

                        li.program__menu-btn(data-active-tab='program-section-1')
                            .program__menu-btn-headline Секция 1
                            .program__menu-btn-title Практика импортозамещения

                        li.program__menu-btn(data-active-tab='program-section-2')
                            .program__menu-btn-headline Секция 2
                            .program__menu-btn-title ИТ-решения для цифровизации

                        li.program__menu-btn(data-active-tab='program-section-3')
                            .program__menu-btn-headline Секция 3
                            .program__menu-btn-title Как это работает: демонстрация решений
                        
                        li.program__menu-btn(data-active-tab='program-section-4')
                            .program__menu-btn-headline Секция 4
                            .program__menu-btn-title Система воспроизводства ИТ-кадров

                .program__content
                    .program__section(data-tab='program-section-0')
                        .program__section-col.program__timeline
                            .program__timeline-body
                                .program__timeline-short
                                    .program__timeline-time 12:00–12:05
                                    .program__timeline-title Вступительное слово

                                .program__timeline-info
                                    .program__timeline-desc Практическая конференция для представителей госсектора и бизнеса, посвящённая цифровизации и импортозамещению в сфере ИТ. Призвана продемонстрировать уже проверенные, доказавшие свою эффективность решения и практические кейсы по миграции с зарубежных продуктов на отечественные, а также представить проекты, реализованные на базе отечественной операционной системы Astra Linux. 

                                .program__timeline-speakers
                                    .program__timeline-speakers-body
                                        .program__timeline-speakers-list
                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_1.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Иванов Андрей

                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_2.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Морохова Светлана

                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_3.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Нормов Дмитрий

                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_4.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Камолова Катя

                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_5.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Лебедев Андрей

                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_6.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Рогова Женя

                                    .program__timeline-speakers-names
                                        .program__timeline-speakers-name Иванов Андрей
                                        .program__timeline-speakers-name Морохова Светлана
                                        .program__timeline-speakers-name Нормов Дмитрий
                                        .program__timeline-speakers-name Камолова Катя
                                        .program__timeline-speakers-name Лебедев Андрей
                                        .program__timeline-speakers-name Рогова Женя

                            button.btn.btn--reset.btn--plus-circle.program__timeline-toggle-btn(aria-label="Toggle timeline") 

                        .program__section-col.program__timeline
                            .program__timeline-body
                                .program__timeline-short
                                    .program__timeline-time 12:05–13:30
                                    .program__timeline-title Об организации образовательного процесса  по ит-направлениям подготовки в рту мирэа

                                .program__timeline-info
                                    .program__timeline-desc Практическая конференция для представителей госсектора и бизнеса, посвящённая цифровизации и импортозамещению в сфере ИТ. Призвана продемонстрировать уже проверенные, доказавшие свою эффективность решения и практические кейсы по миграции с зарубежных продуктов на отечественные, а также представить проекты, реализованные на базе отечественной операционной системы Astra Linux. 

                                .program__timeline-speakers
                                    .program__timeline-speakers-body
                                        .program__timeline-speakers-list
                                            .program__timeline-speakers-item
                                                img.program__timeline-speakers-ava(src="img/content/avatars/person_1.webp" width="64" height="64" alt="Имя")
                                                .program__timeline-speakers-name Иванов Андрей

                                    .program__timeline-speakers-names
                                        .program__timeline-speakers-name Иванов Андрей

                            button.btn.btn--reset.btn--plus-circle.program__timeline-toggle-btn(aria-label="Toggle timeline") 

                    .program__section(data-tab='program-section-1')
                        h2 Контент 1

                    .program__section(data-tab='program-section-2')
                        h2 Контент 2

                    .program__section(data-tab='program-section-3')
                        h2 Контент 3

                    .program__section(data-tab='program-section-4')
                        h2 Контент 4 

                    .program__section(data-tab='program-section-5')
                        h2 Контент 5