section.section.partners
    .container
        .title__block
            h3 Наши партнёры

        .partners__slider
            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_1.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_2.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_3.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_4.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_5.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_6.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_7.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_8.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_9.svg" width="132" height="112" alt="Название компании")

            .partners__item
                .partners__item--body
                    .partners__item-img--wrap
                        img.partners__item-img(src="img/content/companies/item_11.svg" width="132" height="112" alt="Название компании")