.table-plan-desktop.hide-md-down
    .table-plan
        .table-plan__head
            .table-plan__row
                .table-plan__col Web-порталы
                .table-plan__col Облачный 
                .table-plan__col Стандартный
                .table-plan__col Привилегированный

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.1</strong> Справочный центр

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.2</strong> База знаний

                .table-plan__col
                    i.icons.icons--check
                    
                .table-plan__col
                    i.icons.icons--check
                    
                .table-plan__col
                    i.icons.icons--check
                    
            .table-plan__row
                .table-plan__col 
                    p <strong>3.3</strong> Отслеживание ошибок (Bug tracker)

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.4</strong> Личный кабинет
                
                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check
                    
                .table-plan__col
                    i.icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.5</strong> Тикет-система
                
                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check
                    
                .table-plan__col
                    i.icons.icons--check

        .table-plan__head
            .table-plan__row
                .table-plan__col Обновления
                .table-plan__col &nbsp
                .table-plan__col &nbsp
                .table-plan__col &nbsp

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.6</strong> Доступ к оперативным обновлениям (обновления безопасности)

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.7</strong> Доступ к очередным (плановым) обновлениям Продукта

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.8</strong> Возможность перехода на очередное обновление Продукта

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

                .table-plan__col
                    i.icons.icons--check

        .table-plan__head
            .table-plan__row
                .table-plan__col Услуги
                .table-plan__col &nbsp
                .table-plan__col &nbsp
                .table-plan__col &nbsp

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.9</strong> Консультации по установке Продукта

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.10</strong> Консультации по настройке Продукта

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.11</strong> Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.12</strong> Удалённое подключение к системе Пользователя для решения Запроса

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.13</strong> Консультации по функционированию Продукта в гетерогенных сетях

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

        .table-plan__head
            .table-plan__row
                .table-plan__col Оборудование и софт
                .table-plan__col &nbsp
                .table-plan__col &nbsp
                .table-plan__col &nbsp

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.14</strong> Консультации по установке программного обеспечения технологических партнёров

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.15</strong> Анализ совместимости оборудования с Продуктом по предоставленной спецификации

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.16</strong> Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.17</strong> Сборка драйверов для оборудования

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

        .table-plan__head
            .table-plan__row
                .table-plan__col Astra Linux Portable
                .table-plan__col &nbsp
                .table-plan__col &nbsp
                .table-plan__col &nbsp

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.18</strong> Предоставление стандартного ISO-образа ALP

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.19</strong> Построение индивидуального ISO-образа ALP

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

        .table-plan__head
            .table-plan__row
                .table-plan__col Услуги сопровождения
                .table-plan__col &nbsp
                .table-plan__col &nbsp
                .table-plan__col &nbsp

        .table-plan__body
            .table-plan__row
                .table-plan__col 
                    p <strong>3.20</strong> Выделенный менеджер

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--cross

                .table-plan__col
                    .icons.icons--check

            .table-plan__row
                .table-plan__col 
                    p <strong>3.21</strong> Проектирование инфраструктуры и внедрение

                .table-plan__col
                    .icons.icons--check *

                .table-plan__col
                    .icons.icons--check *

                .table-plan__col
                    .icons.icons--check *
                
.table-plan-mobile.hide-md-up
    .tarrifs
        .tarrifs__row.row
            .tarrifs__col.col-12.col-md-6.col-lg-4
                .tarrifs__col--body
                    .tarrifs__col-head
                        .tarrifs__col-title ПАКЕТ УСЛУГ «ОБЛАЧНЫЙ»
                        .tarrifs__col-desc Обработка обращений через web-портал и по телефону в рабочее время (по Москве)

                    .tarrifs__col-content
                        .tarrifs__col-mark Включает в себя

                        .accordion.accordion--tiny
                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="true") Web-порталы
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.1</strong> Доступ к «Справочному центру»
                                        li.item-checked <strong>3.2</strong> База знаний
                                        li.item-checked <strong>3.3²</strong> Доступ к системе отслеживания ошибок  (Bug tracker)
                                        li.item-checked <strong>3.4</strong> Доступ к «Личному кабинету»
                                        li.item-checked <strong>3.5</strong> Тикет-система

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Обновления
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.6</strong> Доступ к оперативным обновлениям (обновления безопасности)Консультации по установке и настройке Продукта
                                        li.item-checked <strong>3.7</strong> Доступ к очередным (плановым) обновлениям Продукта
                                        li.item-checked <strong>3.8</strong> Возможность перехода на очередное обновление Продукта

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.9</strong> Консультации по установке Продукта
                                        li.item-checked <strong>3.10</strong> Консультации по настройке Продукта
                                        li.item-checked <strong>3.11</strong> Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности
                                        li.item-cross <strong>3.12</strong> Удалённое подключение к системе Пользователя для решения Запроса
                                        li.item-cross <strong>3.13</strong> Консультации по функционированию Продукта в гетерогенных сетях

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Оборудование и софт
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.14</strong> Консультации по установке программного обеспечения технологических партнёров
                                        li.item-cross <strong>3.15</strong> Анализ совместимости оборудования с Продуктом по предоставленной спецификации
                                        li.item-cross <strong>3.16</strong> Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности
                                        li.item-cross <strong>3.17</strong> Сборка драйверов для оборудования

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Astra Linux Portable
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.18</strong> Предоставление стандартного ISO-образа ALP
                                        li.item-cross <strong>3.19</strong> Построение индивидуального ISO-образа ALP

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги сопровождения
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.20</strong> Выделенный менеджер
                                        li.item-checked <strong>3.21</strong> Проектирование инфраструктуры и внедрение

            .tarrifs__col.col-12.col-md-6.col-lg-4
                .tarrifs__col--body
                    .tarrifs__col-head
                        .tarrifs__col-title ПАКЕТ УСЛУГ «СТАНДАРТНЫЙ»
                        .tarrifs__col-desc Обработка обращений через web-портал и по телефону в рабочее время (по Москве)

                    .tarrifs__col-content
                        .tarrifs__col-mark Включает в себя

                        .accordion.accordion--tiny
                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Web-порталы
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.1</strong> Доступ к «Справочному центру»
                                        li.item-checked <strong>3.2</strong> База знаний
                                        li.item-checked <strong>3.3²</strong> Доступ к системе отслеживания ошибок  (Bug tracker)
                                        li.item-checked <strong>3.4</strong> Доступ к «Личному кабинету»
                                        li.item-checked <strong>3.5</strong> Тикет-система

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Обновления
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.6</strong> Доступ к оперативным обновлениям (обновления безопасности)Консультации по установке и настройке Продукта
                                        li.item-checked <strong>3.7</strong> Доступ к очередным (плановым) обновлениям Продукта
                                        li.item-checked <strong>3.8</strong> Возможность перехода на очередное обновление Продукта

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.9</strong> Консультации по установке Продукта
                                        li.item-checked <strong>3.10</strong> Консультации по настройке Продукта
                                        li.item-checked <strong>3.11</strong> Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности
                                        li.item-cross <strong>3.12</strong> Удалённое подключение к системе Пользователя для решения Запроса
                                        li.item-cross <strong>3.13</strong> Консультации по функционированию Продукта в гетерогенных сетях

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Оборудование и софт
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.14</strong> Консультации по установке программного обеспечения технологических партнёров
                                        li.item-checked <strong>3.15</strong> Анализ совместимости оборудования с Продуктом по предоставленной спецификации
                                        li.item-checked <strong>3.16</strong> Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности
                                        li.item-cross <strong>3.17</strong> Сборка драйверов для оборудования

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Astra Linux Portable
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.18</strong> Предоставление стандартного ISO-образа ALP
                                        li.item-cross <strong>3.19</strong> Построение индивидуального ISO-образа ALP

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги сопровождения
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-cross <strong>3.20</strong> Выделенный менеджер
                                        li.item-checked <strong>3.21</strong> Проектирование инфраструктуры и внедрение
                            
            .tarrifs__col.col-12.col-md-6.col-lg-4
                .tarrifs__col--body
                    .tarrifs__col-head
                        .tarrifs__col-title ПАКЕТ УСЛУГ «ПРИВИЛЕГИРОВАННЫЙ»
                        .tarrifs__col-desc Расширенный комплекс услуг технической поддержки и обслуживание в режиме 24/7

                    .tarrifs__col-content
                        .tarrifs__col-mark Включает в себя

                        .accordion.accordion--tiny
                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Web-порталы
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.1</strong> Доступ к «Справочному центру»
                                        li.item-checked <strong>3.2</strong> База знаний
                                        li.item-checked <strong>3.3²</strong> Доступ к системе отслеживания ошибок  (Bug tracker)
                                        li.item-checked <strong>3.4</strong> Доступ к «Личному кабинету»
                                        li.item-checked <strong>3.5</strong> Тикет-система

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Обновления
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.6</strong> Доступ к оперативным обновлениям (обновления безопасности)Консультации по установке и настройке Продукта
                                        li.item-checked <strong>3.7</strong> Доступ к очередным (плановым) обновлениям Продукта
                                        li.item-checked <strong>3.8</strong> Возможность перехода на очередное обновление Продукта

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.9</strong> Консультации по установке Продукта
                                        li.item-checked <strong>3.10</strong> Консультации по настройке Продукта
                                        li.item-checked <strong>3.11</strong> Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности
                                        li.item-checked <strong>3.12</strong> Удалённое подключение к системе Пользователя для решения Запроса
                                        li.item-checked <strong>3.13</strong> Консультации по функционированию Продукта в гетерогенных сетях

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Оборудование и софт
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.14</strong> Консультации по установке программного обеспечения технологических партнёров
                                        li.item-checked <strong>3.15</strong> Анализ совместимости оборудования с Продуктом по предоставленной спецификации
                                        li.item-checked <strong>3.16</strong> Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности
                                        li.item-checked <strong>3.17</strong> Сборка драйверов для оборудования

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Astra Linux Portable
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.18</strong> Предоставление стандартного ISO-образа ALP
                                        li.item-checked <strong>3.19</strong> Построение индивидуального ISO-образа ALP

                            .accordion__item
                                button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Услуги сопровождения
                                .accordion__item-content
                                    ul.list-icons-inside
                                        li.item-checked <strong>3.20</strong> Выделенный менеджер
                                        li.item-checked <strong>3.21</strong> Проектирование инфраструктуры и внедрение