.tarrifs
    .tarrifs__row.row
        .tarrifs__col.col-12.col-md-6.col-lg-4
            .tarrifs__col--body
                .tarrifs__col-head
                    .tarrifs__col-title ПАКЕТ УСЛУГ «СТАНДАРТНЫЙ»
                    .tarrifs__col-desc Обработка обращений через web-портал и по телефону в рабочее время (по Москве)

                .tarrifs__col-content
                    .tarrifs__col-mark Включает в себя

                    .accordion.accordion--tiny
                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="true") Обновления и доступы
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Обновления и доступы
                                    li.item-checked Доступ к «Справочному центру»
                                    li.item-checked Доступ к системе отслеживания ошибок  (Bug tracker)
                                    li.item-checked Доступ к «Личному кабинету»

        .tarrifs__col.col-12.col-md-6.col-lg-4
            .tarrifs__col--body
                .tarrifs__col-head
                    .tarrifs__col-title ПАКЕТ УСЛУГ «СТАНДАРТНЫЙ»
                    .tarrifs__col-desc Обработка обращений через web-портал и по телефону в рабочее время (по Москве)

                .tarrifs__col-content
                    .tarrifs__col-mark Включает в себя

                    .accordion.accordion--tiny
                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Обновления и доступы
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Обновления и доступы
                                    li.item-checked Доступ к «Справочному центру»
                                    li.item-checked Доступ к системе отслеживания ошибок (Bug tracker)
                                    li.item-checked Доступ к «Личному кабинету»
                                    li.item-checked Доступ к новым версиям и обновлениям Продукта

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Консультации 
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Консультации по установке и настройке Продукта
                                    li.item-checked Каналы приёма запросов Web-портал, телефон
                                    li.item-checked Вопросы по установке и настройке Продукта

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Решение вопросов
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Анализ совместимости оборудования с Продуктом по предоставленной спецификации
                                    li.item-checked Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности
                                    li.item-checked Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности
                                    li.item-checked Время приёма и обработки Запросов Рабочие дни с 09:00 до 18:00 (мск)

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Время реакция на запрос
                            .accordion__item-content
                                ul.list
                                    li Экстренный — 4 часа
                                    li Высокий — 8 часов
                                    li Средний — 2 рабочих дня
                                    li Низкий — 4 рабочих дня
                        
        .tarrifs__col.col-12.col-md-6.col-lg-4
            .tarrifs__col--body
                .tarrifs__col-head
                    .tarrifs__col-title ПАКЕТ УСЛУГ «ПРИВИЛЕГИРОВАННЫЙ»
                    .tarrifs__col-desc Расширенный комплекс услуг технической поддержки и обслуживание в режиме 24/7

                .tarrifs__col-content
                    .tarrifs__col-mark Включает в себя

                    .accordion.accordion--tiny
                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Обновления и доступы
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Обновления и доступы
                                    li.item-checked Доступ к «Справочному центру»
                                    li.item-checked Доступ к системе отслеживания ошибок (Bug tracker)
                                    li.item-checked Доступ к «Личному кабинету»
                                    li.item-checked Доступ к новым версиям и обновлениям Продукта

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Консультации 
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Консультации по установке и настройке Продукта
                                    li.item-checked Каналы приёма запросов Web-портал, телефон
                                    li.item-checked Вопросы по установке и настройке Продукта
                                    li.item-checked Консультации по функционированию Продукта в гетерогенных сетях

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Решение вопросов
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Анализ совместимости оборудования с Продуктом по предоставленной спецификации
                                    li.item-checked Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности
                                    li.item-checked Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности
                                    li.item-checked Время приёма и обработки Запросов Рабочие дни с 09:00 до 18:00 (мск) <br> Круглосуточно для «экстренного»  и «высокого» уровней критичности

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Сборка и подключение
                            .accordion__item-content
                                ul.list-icons-inside
                                    li.item-checked Удалённое подключение к системе Пользователя для решения Запроса
                                    li.item-checked Сборка драйверов для оборудования (возможность сборки драйвера рассматирвается СТП)
                                    li.item-checked Консультации по установке программного обеспечения технологических партнёров
                                    li.item-checked <strong>Выделенный менеджер</strong>

                        .accordion__item
                            button.btn.btn--reset.accordion__item-btn(aria-label="Toggle accordion" aria-expanded="false") Время реакция на запрос
                            .accordion__item-content
                                ul.list
                                    li Экстренный — 4 часа
                                    li Высокий — 8 часов
                                    li Средний — 2 рабочих дня
                                    li Низкий — 4 рабочих дня

    .tarrifs__headline
        ul
            li Оповещение приходит автоматически на почту. При необходимости оповещения по телефону необходимо указать контактное лицо, телефон и доступное время.
            li С.м. пункт 5. Степени критичности Запросов