section.section
    .container
        .section__filter
            .section__filter-head
                .title__block 
                    h2 Дистрибьюторы

                .section__filter-head-row
                    .tabs__header
                        .tabs__nav.tabs__nav--filter
                            ul.tabs__nav-list
                                li.tabs__nav-item(data-active-tab="widget-partners-all")
                                    button.tabs__nav-btn(aria-label="Switch tab") Все

                                li.tabs__nav-item(data-active-tab="widget-partners-0")
                                    button.tabs__nav-btn(aria-label="Switch tab") РФ

                                li.tabs__nav-item(data-active-tab="widget-partners-1")
                                    button.tabs__nav-btn(aria-label="Switch tab") СНГ

                    form.section__filter-search(action="/" method="/")
                        input.search__form-input(type="text" placeholder="Введите название продукта" required)
                        button.btn.btn--reset.btn--search.search__form-btn(aria-label="Send form")

        .tabs__body
            .tabs__content(data-tab="widget-partners-all")
                .widget__partners-list.-widget-list-item-big-
                    <!-- START Пример партнера -->
                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_1.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="platinum") ЗАО «ДИДЖИТАЛ ДИЗАЙН»
                                .widget__table-desc 199178, г. Санкт-Петербург, наб. реки Смоленки, д. 33

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru
                    <!-- END Пример партнера -->

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_3.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="gold") ООО «Организационно-технологические решения 2000»
                                .widget__table-desc 127474 Москва, Дмитровское шоссе, 60А

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_4.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="silver") Rubytech
                                .widget__table-desc ул. Годовикова д. 9 стр. 17, Москва

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_5.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") АО «Ай-Теко»
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_6.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") AT Consulting
                                .widget__table-desc 127015, г. Москва, ул. Большая Новодмитровская, д. 14, стр. 7, офис 523

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_7.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") Step Logic
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_3.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="oem") ООО «Организационно-технологические решения 2000»
                                .widget__table-desc 127474 Москва, Дмитровское шоссе, 60А

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_4.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="silver") Rubytech
                                .widget__table-desc ул. Годовикова д. 9 стр. 17, Москва

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_5.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") АО «Ай-Теко»
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_6.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") AT Consulting
                                .widget__table-desc 127015, г. Москва, ул. Большая Новодмитровская, д. 14, стр. 7, офис 523

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_7.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") Step Logic
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

            .tabs__content(data-tab="widget-partners-0")
                .widget__partners-list
                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_4.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="silver") Rubytech
                                .widget__table-desc ул. Годовикова д. 9 стр. 17, Москва

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_5.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") АО «Ай-Теко»
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

            .tabs__content(data-tab="widget-partners-1")
                .widget__partners-list
                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_6.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") AT Consulting
                                .widget__table-desc 127015, г. Москва, ул. Большая Новодмитровская, д. 14, стр. 7, офис 523

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru

                    .widget__partners-item.widget__table
                        .widget__table-item
                            .widget__table-col
                                .widget__table-img--wrap
                                    img.widget__table-img(src="img/content/widget/partners/item_7.webp" width="152" height="40" alt="Название партнера")

                            .widget__table-col
                                .widget__table-title(data-status="auth") Step Logic
                                .widget__table-desc 117036, г. Москва, ул. Кедрова, д. 15

                            .widget__table-col
                                ul.widget__table-contacts
                                    li.widget__table-contacts-phone
                                        a(href="tel:+74952213947") +7 495 221-39-47

                                    li.widget__table-contacts-email
                                        a(href="mailto:info@astralinux.ru") Info@astralinux.ru