extends layouts/layout.pug

block title
    title О компании - инвесторам и акционерам | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="about-us.html") О компании

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Инвесторам и акционерам

    .page-preview(style="background-image:url(img/content/page-preview/about-us-investors.webp)")
        .container
            .page-preview__info
                h1 Инвесторам и акционерам
                p Полный программный стек для решения максимально широкого круга практических задач

    .main-block
        section.section
            .container
                .row
                    .col-12.col-lg-5
                        .title__block
                            h2 Наша цель

                    .col-lg-7
                        .text-chapter
                            p.text-chapter__desc Дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.

        section.section
            .container
                .title__block
                    h2 Зачем инвестировать?

                .features
                    .features__body
                        .features__list.row
                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/features/item_1.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title В центре цифровой трансформации
                                        .features__item-desc Наша цель — дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.
                    
                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/features/item_2.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Устойчивая бизнес-модель <br> и масштабируемая операционная модель
                                        .features__item-desc Наша цель — дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.

                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/features/item_3.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Удовлетворение всех потребностей в области ИТ
                                        .features__item-desc Наша цель — дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.

                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/features/item_4.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Проверенная стратегия роста
                                        .features__item-desc Наша цель — дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.

                            .features__item.col-12
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/features/item_5.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Отличная команда, в ДНК которой заложены продажи и услуги
                                        .features__item-desc Наша цель — дать клиентам наиболее полный набор ИТ-инструментов для решения бизнес-задач в организациях любого масштаба: от микропредприятий до крупных корпораций с разветвлённой филиальной сетью. Всё прикладное ПО ГК «Астра» является российским и внесено в национальный Реестр Министерства цифрового развития.

        section.section.section-bg-gray
            .container
                .title__block
                    h2 Проверенная модель роста, <br> подкреплённая высокой долей регулярного оборота

                .about-charts
                    .about-charts__body
                        .about-charts__row.row
                            .about-charts__item.col-12.col-sm-6
                                .about-charts__item--inner
                                    .about-charts__item-title Динамика выручки по ГК Астра <span>млн ₽</span>

                                    .about-charts__item-img--wrap
                                        img.about-charts__item-img(src="img/content/about/charts/item_1.svg" width="532" height="319" alt="Название")

                            .about-charts__item.col-12.col-sm-6
                                .about-charts__item--inner
                                    .about-charts__item-title Динамика EBITDA по ГК Астра <span>млн ₽</span>
                                    
                                    .about-charts__item-img--wrap
                                        img.about-charts__item-img(src="img/content/about/charts/item_2.svg" width="532" height="319" alt="Название")

                        .about-charts__footer
                            .about-charts__headline *Финансовый год ГК Астра заканчивается 31 декабря. <br> ГК Астра определяет EBITDA как показатель, включающий прибыль до уплаты процентов, налога на прибыль, износа и амортизации, не включая курсовую прибыль и убытки, а также другие единовременные доходы и расходы. 
                            
                            .btn--block
                                a.btn.btn--border.btn--download-after(href="#") Скачать презентацию

        section.section
            .container
                .row
                    .col-12.col-lg-3
                        .title__block
                            h3 Материалы для инвесторов

                    .col-12.col-lg-9
                        .materials
                            .materials__list
                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Презентация
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PPTX

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title План развития 2020
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title План развития 2021
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Презентация
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PPTX

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title План развития 2022
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Презентация
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PPTX

        section.section
            .container
                .title__block
                    h2 Новости для инвесторов

                .news.news--carousel-mobile
                    .news__list.row
                        .news__item.news__item--sm.col-12.col-md-6.col-lg-4.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_5.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") НОВОЕ УЧЕБНОЕ ПОСОБИЕ  ОТ ГК «АСТРА»
                                        p.news__item-desc «Основы безопасности операционной системы astra linux special edition. Управление доступом»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 8 июля

                        .news__item.news__item--sm.col-12.col-md-6.col-lg-4.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_6.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") НОВЫЙ РЕЛИЗ TERMIDESK 3.2
                                        p.news__item-desc Программного комплекса для создания vdi-инфраструктуры

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 8 июля

                        .news__item.news__item--sm.col-12.col-md-6.col-lg-4.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_7.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Гк «астра» открыла офис в нижнем новгороде
                                        p.news__item-desc Программного комплекса для создания vdi-инфраструктуры

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 8 июля

                        .news__item.news__item--sm.col-12.col-md-6.col-lg-4.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_8.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") НОВЫЙ РЕЛИЗ TERMIDESK 3.2
                                        p.news__item-desc Программного комплекса для создания vdi-инфраструктуры

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 8 июля

        section.section.section-panel
            .container
                .section-panel__body
                    .section-panel__info
                        h2.section-panel__title Контактная информация для инвесторов

                        .btn--block
                            button.btn.btn--border-light(aria-label="Open modal") Отправить запрос

                    .section-panel__img--wrap
                        img.section-panel__img(src="img/content/section-panel/bg-1.svg")



                
                    

            
        

                




                



                

    

