extends layouts/layout.pug

block title
    title О компании - документы компании | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="about-us.html") О компании

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Документы компании

    .main-block
        section.section
            .container
                .row
                    .col-3
                        .title__block
                            h2 Документы компании

                    .col-9
                        .materials
                            .materials__list
                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title ОГРН
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title ИНН
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title КПП
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Устав организации
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Название документа
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Название документа
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-title Название документа
                                        a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF


                
                    

            
        

                




                



                

    

