extends layouts/layout.pug

block title
    title Обучение - Авторизованное обучение от ГК «Астра» | Astra Linux

block content
    .anchors
        .container.anchors__container
            .anchors__row
                .anchors__nav
                    ul.anchors__nav-list
                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-0") Учебные центры

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-1") Программы курсов

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-2") Сертификация специалистов

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-3") Образовательные ресурсы

                        li.anchors__nav-item
                            a.anchors__nav-link(href="unknow.html") Партнёрам и клиентам

                        li.anchors__nav-item
                            a.anchors__nav-link(href="unknow.html") Личный кабинет

                .anchors__panel
                    a.btn.btn--tiny.btn--border.anchors__panel-btns(href="#") Стать партнёром

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="edu.html") Обучение

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Авторизованное обучение от ГК «Астра»

    .main-block
        .section-anchor#anchor-0
            .intro.intro--static
                .container
                    .intro__wrap   
                        .intro__info
                            h1.intro__title Авторизованное обучение от ГК «Астра»
                            p.intro__desc <strong>ГК Астра имеет широкую сеть авторизованных учебных центров по всей территории Российской Федерации.</strong> <br><br> Учебные центры формируются на базе организаций, осуществляющих лицензионную деятельность в сфере дополнительного профессионального образования.

                            ul.list-dots
                                li Центры дополнительного профессионального образования
                                li Университеты
                                li Колледжи

                        .intro__img--wrap
                            img.intro__img(src="img/content/edu/intro/plug-auth.svg" width="560" height="512" alt="Название")

        section.feedback.feedback--test.feedback--narrow.section-anchor#anchor-2
            .container
                .feedback__body
                    form#check-sert.form.feedback__form(action="/" method="/")
                        .feedback__form-header
                            h3.feedback__title Проверить сертификат

                            .feedback__form-steps
                                ul.feedback__form-steps-list
                                    li.feedback__form-steps-item Шаг 1
                                    li.feedback__form-steps-item Шаг 2
                                    li.feedback__form-steps-item Шаг 3

                                span.btn.btn--reset.btn--back-before#feedback__btn-prev(onclick="nextPrev(-1)") Назад

                        .feedback__form-content
                            .feedback__form-tab
                                .feedback__form-tab--inner
                                    .feedback__form-inputs
                                        .form__desc Сервис проверки подлинности сертификата, выданного ГК Astra Linux <br><br> Сервис предназначен для проверки подлинности сертификата по его номеру и фамилии обладателя сертификата. Сервис абсолютно бесплатный.

                                        .input
                                            label.input__label(for="check-sert-number") Серия и номер сертификата
                                            input.input__elem#check-sert-number(type="text" placeholder="Ввести" name="check-sert-number")

                                        .input
                                            label.input__label(for="check-sert-name") Данные обладателя сертификата
                                            input.input__elem#check-sert-name(type="text" placeholder="Ввести" name="check-sert-name")

                            .feedback__form-tab
                                .feedback__form-tab--inner
                                    .feedback__form-inputs
                                        .form__desc Бланк официального письма-заявки на предоставление операционной системы «Astra Linux Special Edition»

                                        .input
                                            .feedback__docs
                                                .feedback__docs-title Бланки:
                                                .feedback__docs-list
                                                    a.feedback__docs-item(href="#" download)
                                                    a.feedback__docs-item(href="#" download)
                                                    a.feedback__docs-item(href="#" download)

                                            input.input__file#feedback-attach-file(type="file" name="feedback-attach-file")
                                            label.input__file-label.input__file-label--border(for="feedback-attach-file") 
                                                i.icons.icons--doc-gray
                                                .input__file-label-title Прикрепить бланк
                                                i.icons.icons--attach

                            .feedback__form-tab
                                .feedback__form-tab--inner
                                    .feedback__form-inputs
                                        .form__success
                                            img.form__success-icon(src="img/icons/form-success.svg" width="72" height="72" alt="Success!")
                                            .form__success-title Вы успешно отправили данные
                                            p.form__success-desc После получения заявки сотрудники ООО «РусБИТех-Астра» свяжутся с контактным лицом и запросят данные, необходимые для подготовки акта приема передачи операционной системы в демонстрационно - ознакомительных целях, а также договорятся о сроках и способах передачи экземпляра программ

                        .feedback__form-footer#form-steps-footer
                            button.btn.btn--accent.btn--arrow-right-after#feedback__btn-next(type="button" onclick="nextPrev(1)" aria-label="Next tab") Далее

                            p.form__agree#form-steps-headline Вопросы по Партнёрской программе: <br> на <a href="mailto:partner@astralinux.ru">partner@astralinux.ru</a>

        section.section.section-anchor#anchor-1
            .container
                .title__block
                    h2 Программы курсов

                .materials
                    .materials__list.materials__list--bg
                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")
                                
                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Скрытый курс
                                    .materials__item-desc Описание курса

                        .materials__item
                            a.materials__item--inner(href="#" download)
                                .materials__item-img--wrap
                                    img.materials__item-img(src="img/icons/material-book.svg" width="56" height="56" alt="Документ")

                                .materials__item-text
                                    .materials__item-title Скрытый курс
                                    .materials__item-desc Описание курса

        section.section.section-anchor#anchor-3
            .container
                .title__block
                    h2 Образовательные ресурсы

                .edu-resour
                    .edu-resour__row.row
                        .edu-resour__col.col-12.col-md-6
                            .edu-resour__col--body
                                .edu-resour__col-title Вики библиотека
                                a.link.link--target-sec.edu-resour__col-link(href="https://wiki.astralinux.ru" target="_blank") https://wiki.astralinux.ru

                        .edu-resour__col.col-12.col-md-6
                            .edu-resour__col--body
                                .edu-resour__col-title Образовательный портал
                                a.link.link--target-sec.edu-resour__col-link(href="https://education.astralinux.ru/welcome.php#components" target="_blank") https://education.astralinux.ru/welcome.php#components

        section.feedback.feedback--narrow
            .container
                .feedback__body
                    form.form.feedback__form(action="/" method="/")
                        .feedback__form-header
                            h3.feedback__title Связаться с нами

                        .feedback__form-content
                            .form__desc Выберите тему обращения:

                            .feedback__tags
                                .feedback__tags-list
                                    .input
                                        input.input__radio--bg#feedback-theme-0(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-0") Проблемы с работой сайта

                                    .input
                                        input.input__radio--bg#feedback-theme-1(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-1") Сообщить об уязвимости

                                    .input
                                        input.input__radio--bg#feedback-theme-2(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-2") Сотрудничество

                                    .input
                                        input.input__radio--bg#feedback-theme-3(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-3") Другой вопрос

                            .form__desc Данные для связи:

                            .form__group
                                .input
                                    input.input__elem(type="text" placeholder="ФИО" name="feedback-name")

                                .input
                                    input.input__elem(type="text" placeholder="Номер телефона" name="feedback-phone")

                            .input
                                textarea.input__elem(name="feedback-massage", cols="30", rows="5" placeholder="Ваш вопрос") 

                        .feedback__form-footer
                            button.btn.btn--accent.btn--arrow-right-after(type="button" aria-label="Send form") Далее

                            p.form__agree Нажимая на кнопку, вы даете согласие <br> на <a href="#">обработку персональных данных</a>

        
