extends layouts/layout.pug

block title
    title Предстоящие мероприятия | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="about-us.html") О компании

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="events.html") Мероприятия

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Предстоящие мероприятия

    .page-title
        .container
            h1 Предстоящие мероприятия

    .main-block
        section 
            .container
                .news
                    .news__list.row
                        .news__item.news__item--xl.col-12.col-md-6
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc СберКорус и группа компаний «Астра» подписали договор о долгосрочном стратегическом партнёрстве.

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.news__item--xl.col-12.col-md-6
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22
                

    

