extends layouts/layout.pug

block title
    title ОР Жилищно-коммунальное хозяйство | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Экспортный потенциал

    .main-block
        .page-preview(style="background-image:url(img/content/industry/preview/transport.webp)")
            .container
                .page-preview__info
                    h1 Экспортный потенциал
                    p Сведения о проведённой специальной оценке условий труда в ООО «РусбиТех-Астра»

        section.section
            .container
                .row
                    .col-lg-5
                        .title__block
                            h2 Экспортный потенциал

                    .col-lg-7
                        .text-chapter
                            p.text-chapter__desc Согласно п.6. статьи 15 Федерального закона от 28.12.2013 г. № 426-ФЗ «О специальной оценке условий труда» ООО «РусБИТех-Астра» с учётом требований законодательства Российской Федерации о персональных данных и законодательства Российской Федерации о государственной и об иной охраняемой законом тайне организует размещение на своём официальном сайте astralinux.ru

        section.section
            .container
                .row
                    .col-12.col-lg-3
                        .title__block
                            h2 Документы

                    .col-12.col-lg-9
                        .materials
                            .materials__list.hidden-content
                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title ГОСТ Р 58256–2018 «Защита информации. Управление потоками информации в информационной системе. Формат классификационных меток»
                                        
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                                .materials__item
                                    .materials__item--inner
                                        .materials__item-info
                                            .materials__item-title Название документа
                                       
                                        .materials__item-btns
                                            a.btn.btn--small.btn--border.btn--download-after(href="#" download) PDF

                            .btn--block.justify-content-end.materials__more
                                button.btn.btn--reset.btn--more.js-show-more(aria-label="Load more" data-text="Развернуть" data-toggle-text="Скрыть") Развернуть



