extends layouts/layout.pug

block title
    title ОР Здравоохранение | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="industry.html") Отраслевые решения

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Здравоохранение

    .main-block
        .page-preview(style="background-image:url(img/content/industry/preview/zdravookhraneniye.webp)")
            .container
                .page-preview__info
                    h1 Здравоохранение
                    p С 1 января 2020 г. действует приказ Минздрава России от 24.12.2018 № 911н. Его выполнение обязательно в рамках федеральной программы «Создание единого цифрового контура в здравоохранении на основе единой государственной информационной системы (ЕГИСЗ)» и национального проекта «Здравоохранение». Реализация комплекса данных мер должна проходить в соответствии с приказом ФСТЭК России от 18.02.2013 № 21.

        section.section
            .container
                .row
                    .col-12.col-lg-5
                        .title__block
                            h2 Важная составляющая приказа

                    .col-lg-7
                        .text-chapter
                            p.text-chapter__desc <strong>Важная составляющая приказа —</strong> требования к программно-техническим средствам информационных систем и защите хранящихся в них данных.
                            p.text-chapter__desc <strong>Цель —</strong> организовать качественную информационную поддержку работы медиков и создать для граждан систему электронных услуг и сервисов. Согласно приказу, IT-структуры медицинских организаций и государственных ИС регионального здравоохранения должны обеспечивать:

        section.section.section-first-type-mt-tiny
            .container
                .features.features--tiny
                    .features__body
                        .features__list.row
                            .features__item.col-12
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/industry/features/zdravookhraneniye/item_1.svg" width="40" height="40" alt="Название")

                                    .features__item-info
                                        .features__item-desc Ведение электронных медицинских карт и централизованных систем хранения и обработки результатов диагностических и лабораторных исследований, диспетчеризации скорой медицинской помощи, телемедицинских консультаций и льготного лекарственного обеспечения

                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/industry/features/zdravookhraneniye/item_2.svg" width="40" height="40" alt="Название")

                                    .features__item-info
                                        .features__item-desc Управление потоками пациентов и ресурсами здравоохранения

                            .features__item.col-12.col-md-6
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/industry/features/zdravookhraneniye/item_3.svg" width="40" height="40" alt="Название")

                                    .features__item-info
                                        .features__item-desc Принятие решений

        section.section
            .container
                .industry-lead
                    .industry-lead__row
                        .industry-lead__text
                            .industry-lead__title.h3 Astra Linux В здравоохранении
                            .industry-lead__desc Защищённая операционная система Astra Linux Special Edition обеспечивает безопасность IT-структур и отвечает требованиям, установленными постановлением Правительства Российской Федерации от 01.11.2012 № 1119 и приказом ФСТЭК России от 18.02.2013 № 21, что позволяет:

                            ul.list-counter.row
                                li.col-12.col-lg-6 Обеспечивать безопасность носителей информации с медицинскими персональными данными;
                                li.col-12.col-lg-6 Обнаруживать вторжения и регистрировать события безопасности;
                                li.col-12.col-lg-6 Выявлять инциденты и на них реагировать;
                                li.col-12.col-lg-6 Настраивать ограничения программной среды в медицинских учреждениях;
                                li.col-12.col-lg-6 Регистрировать события безопасности;
                                li.col-12.col-lg-6 Контролировать и анализировать защищённость записей о принятии врачебных решений, электронных медицинских карт пациентов, данные медицинских исследований в цифровой форме и др.;
                                li.col-12.col-lg-6 Обрабатывать медицинские сведения о пациентах;
                                li.col-12 Обеспечивать контроль целостности данных и защиту информации в IT-системах, включая среды виртуализации, средства связи и т.д., согласно приказу ФСТЭК России от 21.09.2016 № 131.

                        .industry-lead__img--wrap
                            img.industry-lead__img(src="img/content/industry/lead/zdravookhraneniye.webp" width="405" height="362" alt="Название")

        section.section.section-panel.section-panel--industry
            .container
                .section-panel__body
                    .section-panel__info
                        h2.section-panel__title Экосистема ГК "Астра"
                        p.section-panel__desc Продукты Astra Linux успешно работают с широким спектром как отечественного и зарубежного ПО, так и периферии. <br> Количество совместных решений, работоспособность которых проверена практикой, постоянно растёт. IT-инфраструктуры учреждений с уже имеющимися у заказчика программно-аппаратными средствами легко переводятся на платформу Astra Linux. Все необходимые элементы уже совместимы с операционной системой:

                    .section-panel__img--wrap
                        img.section-panel__img(src="img/content/industry/section-panel-svg.svg" width="340" height="500" alt="Название блока")

        section.section
            .container
                .os-set
                    .os-set__row
                        .os-set__text
                            .os-set__title.h3 Все необходимые элементы уже совместимы с операционной системой

                        .os-set__content
                            .os-set__list.row
                                .os-set__item.col-12.col-sm-6
                                    .os-set__item--inner
                                        .os-set__item-title Системы IP-телефонии и видеоконференции
                                        .os-set__item-desc TrueConf, ИНКОМА, «Постмет-Р», GFI Software и многие другие продукты.

                                .os-set__item.col-12.col-sm-6
                                    .os-set__item--inner
                                        .os-set__item-title Мёд-информационные сиcтемы
                                        .os-set__item-desc «САМСОН», «БАРС.Здравоохранение»

                                .os-set__item.col-12.col-sm-6.col-md-5
                                    .os-set__item--inner
                                        .os-set__item-title Средства резервного копирования
                                        .os-set__item-desc RuBackup, Micro Focus, Acronis, Veeam Software;

                                .os-set__item.col-12.col-sm-6.col-md-4
                                    .os-set__item--inner
                                        .os-set__item-title Офисные пакеты приложений
                                        .os-set__item-desc «МойОфис», LibreOffice и «P7-Офис»

                                .os-set__item.col-12.col-sm-6.col-md-3
                                    .os-set__item--inner
                                        .os-set__item-title Средства защиты каналов связи
                                        .os-set__item-desc ViPNet Client

                                .os-set__item.col-12.col-sm-6.col-md-4
                                    .os-set__item--inner
                                        .os-set__item-title Антивирусное ПО
                                        .os-set__item-desc Dr.Web, ESET и Kaspersky

                                .os-set__item.col-12.col-sm-6.col-md-4
                                    .os-set__item--inner
                                        .os-set__item-title Гос-информационные системы
                                        .os-set__item-desc СМЭВ, ЕПГУ, «Ветис.Паспорт» и др.

                                .os-set__item.col-12.col-sm-6.col-md-4
                                    .os-set__item--inner
                                        .os-set__item-title Криптопровайдеры
                                        .os-set__item-desc ViPNet, CSP, «Континент-АП»




