extends layouts/layout.pug

block title
    title Отраслевые решения | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Отраслевые решения

    .main-block
        .intro.intro--static.intro--light.intro--narrow
            .container
                .intro__wrap   
                    .intro__info
                        h1.intro__title Отраслевые решения “ГК Астра”
                        p.intro__desc ГК «Астра» объединяет разработчиков операционной системы Astra Linux и другого системного и инфраструктурного программного обеспечения, позволяющего строить инфраструктуры различного масштаба и отраслевого профиля.

                    .intro__img--wrap
                        img.intro__img(src="img/content/industry/main-intro.webp" width="448" height="448" alt="Название")

        section.section
            .container
                .title__block
                    h2 Отраслевые решения ГК Астра

                .faq-links.faq-links--big
                    .faq-links__body
                        .faq-links__list.row
                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-smi.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_1.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title СМИ

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-gos_sector.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_2.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Государственный сектор

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-energetika.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_3.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Энергетика

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-nauka.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_4.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Наука и образование

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-finansy.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_5.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Финансы

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-zdravookhraneniye.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_6.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Здравоохранение

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-transport.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_7.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Транспорт

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-promyshlennost.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_8.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title Промышленность и торговля

                            .faq-links__item.col-12.col-md-6.col-lg-4
                                a.faq-links__item--inner(href="industry-zhilishche.html")
                                    .faq-links__item-img--wrap
                                        img.faq-links__item-img(src="img/content/industry/faq-links/item_9.svg" width="48" height="48" alt="Название")

                                    .faq-links__info
                                        .faq-links__item-title ЖКХ

                                    

                            

                



                




                



                

    

