extends layouts/layout.pug

block title
    title Главная | Astra Linux

block content
    .main-block
        .intro
            .container
                .intro__wrap
                    .intro__slider
                        .intro__slider-item
                            .intro__slider-item--body.row
                                .intro__info.order-2.order-lg-1.col-12.col-lg-7
                                    h2.intro__title Astra Linux — ведущая российская операционная система
                                    p.intro__desc ГК «Астра» объединяет разработчиков операционной системы Astra Linux и другого российского системного программного обеспечения, позволяющего решать самые разнообразные задачи при построении ИТ-инфраструктур.

                                    .btn--block
                                        a.btn.btn--border-accent(href="#") Подробнее

                                .intro__img--wrap.order-1.order-lg-2.col-12.col-lg-5
                                    img.intro__img(src="img/content/intro/main-page.webp" width="507" height="467" alt="Название")

                                .intro__bar--wrap
                                    img.intro__bar(src="img/content/intro/main-bg.svg" width="559" height="1045" alt="Название")

                        .intro__slider-item
                            .intro__slider-item--body.row
                                .intro__info.order-2.order-lg-1.col-12.col-lg-7
                                    h2.intro__title Второй элемент слайдера
                                    p.intro__desc ГК «Астра» объединяет разработчиков операционной системы Astra Linux и другого российского системного программного обеспечения, позволяющего решать самые разнообразные задачи при построении ИТ-инфраструктур.

                                    .btn--block
                                        a.btn.btn--border-accent(href="#") Подробнее

                                .intro__img--wrap.order-1.order-lg-2.col-12.col-lg-5
                                    img.intro__img(src="img/content/intro/main-page.webp" width="507" height="467" alt="Название")

                                .intro__bar--wrap
                                    img.intro__bar(src="img/content/intro/main-bg.svg" width="559" height="1045" alt="Название")

                    .slider-dots-line#intro__slider-dots

        section.partners.main-partners
            .container
                .title__block.mb-4
                    h3 Наши клиенты

                .partners__slider
                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_1.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title Банк «ВТБ»

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_2.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title Росатом

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_3.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title Газпром

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_4.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title Ростех

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_5.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title РЖД

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_6.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title ПАО «Газпром нефть»

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_7.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title «Промсвязьбанк»

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_8.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title «Росэнергоатом»

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_9.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title ПАО <br> «СберБанк России»

                    .partners__item
                        .partners__item--body
                            .partners__item-img--wrap
                                img.partners__item-img(src="img/content/companies/item_11.webp" width="132" height="112" alt="Название компании")

                            .partners__item-title «Объединённая судостроительная корпорация»

        section.section-bg-gray
            .container
                .title__block
                    h3 Экосистема продуктов ГК «Астра»

                .eco-catalog
                    .eco-catalog__row
                        .eco-catalog__content
                            .eco-catalog__list
                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/astra.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Операционные системы

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_1.webp" width="780" height="1080" alt="Название")  

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/brest.svg" width="345" height="136" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Система виртуализации Astra Linux

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_2.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/termidesk.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Виртуализация рабочих мест

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_3.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/rubackup.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Автоматизированное резервное копирование и восстановление данных

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_4.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/rupost.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Система управления корпоративной почтой

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_5.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/workspad.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Организации защищённой мобильной работы

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_6.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/aldpro.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Программный комплекс для автоматизации и централизованного управления

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_7.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/dcimanager.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Управление мультивендорным оборудованием в ЦОД

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_8.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/vmmanager.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Платформа управления виртуализацией

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_9.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/billmanager.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Программный комплекс для автоматизации и централизованного управления

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_10.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/tantor.svg" width="345" height="107" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Управление мультивендорным оборудованием в ЦОД

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_11.webp" width="780" height="1080" alt="Название") 

                                .eco-catalog__col
                                    .eco-catalog__col--body
                                        .eco-catalog__col-img--wrap
                                            img.eco-catalog__col-img(src="img/content/software/astra-auto.webp" width="140" height="38" alt="Название")

                                        .eco-catalog__col-info
                                            .eco-catalog__col-desc Платформа управления виртуализацией

                                        .eco-catalog__col-bar--wrap
                                            img.eco-catalog__col-bar(src="img/content/eco-catalog/hover-img/item_12.webp" width="780" height="1080" alt="Название") 

                        .eco-catalog__img--wrap
                            img.eco-catalog__img(src="img/content/eco-catalog/main.webp" width="466" height="630" alt="Название блока")

        section.hero.hero--bg
            .container
                .hero__body
                    .hero__img--wrap.col-md-5
                        img.hero__img(src="img/content/hero/astra-consalting.webp" width="518" height="400" alt="Астра Консалтинг")

                    .hero__info.col-md-7
                        h3.hero__title Астра Консалтинг
                        p.hero__desc <strong>«Астра консалтинг» предоставляет полномасштабный спектр консалтинговых услуг в рамках проектов перевода</strong> ИТ-инфраструктур организаций, обеспечивает полноценное сопровождение заказчиков в процессе миграции и внедрения отечественного ПО.

                        .btn--block
                            a.btn.btn--border-light(href="/") Узнать больше

        section.hero.hero--reverse
            .container
                .hero__body
                    .hero__img--wrap.col-md-5
                        img.hero__img(src="img/content/hero/support-astra.webp" width="596" height="358" alt="Астра Консалтинг")

                    .hero__info.col-md-6
                        h2.hero__title Поддержка ГК «Астра»
                        p.hero__desc Поддержка от ГК «Астра» — это помощь, которую наши клиенты получают именно в те моменты, когда она нужна. Каждый заказчик вместе с лицензией на ОС получает на 1 год «Стандартный» пакет услуг технической поддержки. Какими сервисами и в каком объёме пользоваться после этого срока, клиенты решают сами. Предусмотрена возможность приобретения поддержки уровня «Привелигированный» с расширенным техническим сопровождением.

                        .btn--block
                            a.btn.btn--border(href="/") Подробнее

        section.hero.hero--bg.hero--wide
            .container
                .hero__body
                    .hero__img--wrap.col-md-5
                        img.hero__img(src="img/content/hero/ready-for-astra.webp" width="589" height="540" alt="Астра Консалтинг")

                    .hero__info.col-md-7
                        h2.hero__title Ready for Astra
                        p.hero__desc <strong>Программа технологической кооперации с производителями программного обеспечения и оборудования</strong> 
                        p.hero__desc Мы тестируем работоспособность отечественного и зарубежного «железа» и софта в среде Astra Linux и выдаём сертификаты, официально подтверждающие их корректную работу. Цель программы — создать широкую экосистему совместимых технологий, облегчить клиентам выбор оптимальных решений и помочь партнёрам в продвижении своей продукции. Совместимость с нашей операционной системой подтверждена уже более чем для 5000 программных и аппаратных продуктов. Экосистема Astra Linux постоянно растёт.

                        .btn--block
                            a.btn.btn--border-light(href="/") Узнать больше

        section.hero.hero--reverse
            .container
                .hero__body.align-items-center
                    .hero__img--wrap.col-md-6
                        img.hero__img(src="img/content/hero/useful-materials.webp" width="640" height="487" alt="Астра Консалтинг")

                    .hero__info.col-md-5
                        h2.hero__title Полезные материалы
                        p.hero__desc Здесь собраны статьи, учебники, справочная информация по ОС Astra Linux и остальным продуктам ГК «Астра» и другие полезные материалы: сертификаты, лицензии и российские шрифты. <br><br> Все, что есть в этом разделе, включая учебные пособия, бесплатно и общедоступно.

                        .btn--block
                            a.btn.btn--border(href="/") Подробнее

        section.main-jobs
            .container
                .title__block
                    h2 Стань частью звёздной команды
                    p Мы активно развиваемся, поэтому для достижения всех целей нам нужно много новых перспективных коллег! <br> Руководители и линейные сотрудники, технари и гуманитарии — работы много для всех. <br> Посмотрите, какие вакансии мы предлагаем сегодня:

                .main-jobs__body.row
                    .main-jobs__item.col-12.col-sm-6.col-md-4
                        a.main-jobs__item--inner(href="#")
                            .main-jobs__item-img--wrap
                                img.main-jobs__item-img(src="img/content/main-jobs/item_1.svg" width="48" height="48" alt="Вакансии")

                            .main-jobs__item-info
                                .main-jobs__item-title Вакансии

                    .main-jobs__item.col-12.col-sm-6.col-md-4
                        a.main-jobs__item--inner(href="#")
                            .main-jobs__item-img--wrap
                                img.main-jobs__item-img(src="img/content/main-jobs/item_2.svg" width="48" height="48" alt="Почему именно мы?")

                            .main-jobs__item-info
                                .main-jobs__item-title Почему именно мы?

                    .main-jobs__item.col-12.col-sm-6.col-md-4
                        a.main-jobs__item--inner(href="#")
                            .main-jobs__item-img--wrap
                                img.main-jobs__item-img(src="img/content/main-jobs/item_3.svg" width="48" height="48" alt="Стажировка")

                            .main-jobs__item-info
                                .main-jobs__item-title Стажировка

        section.main-news
            .container
                .title__block
                    h2 Пресс-центр

                .tabs
                    .tabs__header
                        .tabs__nav
                            ul.tabs__nav-list
                                li.tabs__nav-item.tabs__nav-item--active(data-active-tab="news")
                                    button.tabs__nav-btn(aria-label="Switch tab") Новости ГК «АСТРА»

                                li.tabs__nav-item(data-active-tab="smi")
                                    button.tabs__nav-btn(aria-label="Switch tab") СМИ о нас

                                li.tabs__nav-item(data-active-tab="materials")
                                    button.tabs__nav-btn(aria-label="Switch tab") Материалы

                        a.btn.btn--border.btn--path.hide-md-down(href="news.html") Все новости

                    .tabs__content.tabs__content--open(data-tab="news")
                        .news.news--carousel-mobile
                            .news__list.row
                                .news__item.news__item--sm.col-12.col-md-6.col-lg-4
                                    .news__item--body
                                        a.news__item-img--wrap(href="article.html")
                                            img.news__item-img(src="img/content/news/item_1.webp" width="405" height="128" alt="Название статьи")

                                        .news__item-info
                                            .news__item-text
                                                a.news__item-title(href="article.html") НОВОЕ УЧЕБНОЕ ПОСОБИЕ ОТ ГК «АСТРА»
                                                p.news__item-desc «Основы безопасности операционной системы astra linux special edition. Управление доступом»

                                            .news__item-short
                                                .btns-spacer
                                                    a.btn.btn--tiny.btn--tag(href="#") Программы
                                                    a.btn.btn--tiny.btn--tag(href="#") Обновления

                                                .briefly__row
                                                    span.briefly.briefly--tiny.briefly--date 16.07.22

                                .news__item.news__item--sm.col-12.col-md-6.col-lg-4
                                    .news__item--body
                                        a.news__item-img--wrap(href="article.html")
                                            img.news__item-img(src="img/content/news/item_1.webp" width="405" height="128" alt="Название статьи")

                                        .news__item-info
                                            .news__item-text
                                                a.news__item-title(href="article.html") НОВЫЙ РЕЛИЗ TERMIDESK 3.2
                                                p.news__item-desc Программного комплекса для создания vdi-инфраструктуры

                                            .news__item-short
                                                .btns-spacer
                                                    a.btn.btn--tiny.btn--tag(href="#") Программы
                                                    a.btn.btn--tiny.btn--tag(href="#") Обновления

                                                .briefly__row
                                                    span.briefly.briefly--tiny.briefly--date 16.07.22

                                .news__item.news__item--sm.col-12.col-md-6.col-lg-4
                                    .news__item--body
                                        a.news__item-img--wrap(href="article.html")
                                            img.news__item-img(src="img/content/news/item_1.webp" width="405" height="128" alt="Название статьи")

                                        .news__item-info
                                            .news__item-text
                                                a.news__item-title(href="article.html") Гк «астра» открыла офис в нижнем новгороде
                                                p.news__item-desc Программного комплекса для создания vdi-инфраструктуры

                                            .news__item-short
                                                .btns-spacer
                                                    a.btn.btn--tiny.btn--tag(href="#") Программы
                                                    a.btn.btn--tiny.btn--tag(href="#") Обновления

                                                .briefly__row
                                                    span.briefly.briefly--tiny.briefly--date 16.07.22

                    .tabs__content(data-tab="smi")
                        .news.news--carousel-mobile
                            .news__list.row
                                .news__item.news__item--sm.col-12.col-md-6.col-lg-4
                                    .news__item--body
                                        a.news__item-img--wrap(href="article.html")
                                            img.news__item-img(src="img/content/news/item_1.webp" width="405" height="128" alt="Название статьи")

                                        .news__item-info
                                            .news__item-text
                                                a.news__item-title(href="article.html") НОВОЕ УЧЕБНОЕ ПОСОБИЕ ОТ ГК «АСТРА»
                                                p.news__item-desc «Основы безопасности операционной системы astra linux special edition. Управление доступом»

                                            .news__item-short
                                                .btns-spacer
                                                    a.btn.btn--tiny.btn--tag(href="#") Программы
                                                    a.btn.btn--tiny.btn--tag(href="#") Обновления

                                                .briefly__row
                                                    span.briefly.briefly--tiny.briefly--date 16.07.22

                    .tabs__content(data-tab="materials")
                        .news.news--carousel-mobile
                            .news__list.row
                                .news__item.news__item--sm.col-12.col-md-6.col-lg-4
                                    .news__item--body
                                        a.news__item-img--wrap(href="article.html")
                                            img.news__item-img(src="img/content/news/item_1.webp" width="405" height="128" alt="Название статьи")

                                        .news__item-info
                                            .news__item-text
                                                a.news__item-title(href="article.html") НОВОЕ УЧЕБНОЕ ПОСОБИЕ ОТ ГК «АСТРА»
                                                p.news__item-desc «Основы безопасности операционной системы astra linux special edition. Управление доступом»

                                            .news__item-short
                                                .btns-spacer
                                                    a.btn.btn--tiny.btn--tag(href="#") Программы
                                                    a.btn.btn--tiny.btn--tag(href="#") Обновления

                                                .briefly__row
                                                    span.briefly.briefly--tiny.briefly--date 16.07.22

                    .btn--block.mt-4.hide-md-up
                        a.btn.btn--border.btn--path.col-12(href="news.html") Все новости


        section.lead-panel
            .container
                .lead-panel__body
                    .lead-panel__info
                        h3 Экспортный потенциал
                        p Российские операционные системы семейства Astra Linux в странах СНГ.

                        .btn--block
                            a.btn.btn--border(href="#") Подробнее

                    .lead-panel__img--wrap
                        img.lead-panel__img(src="img/content/lead-panel.webp" width="424" height="424" alt="Экспортный потенциал")

                    
                                            



                

    

