extends layouts/layout.pug

block title
    title ОС Сервер | Astra Linux

block content
    .anchors
        .container.anchors__container
            .anchors__row
                .anchors__nav
                    ul.anchors__nav-list
                        li.anchors__nav-item.is-current
                            a.anchors__nav-link(href="#anchor-0") COMMON EDITION

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-1") Преимущества

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-2") Возможности

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-3") Состав

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-4") Устройства

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-5") Экосистема

                        li.anchors__nav-item
                            a.anchors__nav-link(href="#anchor-6") Где купить

                .anchors__panel
                    a.btn.btn--tiny.btn--border.anchors__panel-btns(href="#") Стать партнёром

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="os.html") Операционные системы

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Astra Linux SE

    .main-block
        .section-anchor#anchor-0
            .intro.intro--static.intro--light
                .container
                    .intro__wrap   
                        .intro__info
                            .intro__label.intro__label--warning Для физических лиц
                            h1.intro__title ASTRA LINUX COMMON EDITION
                            .intro__headline Операционная система личного пользования
                            p.intro__desc Релиз ALCE «Орёл» - операционная система для широкого спектра прикладных задач <br><br> Ключевое преимущество — свобода для интеграции в IT-инфраструктуры любого масштаба и уровня сложности

                            .btn--block
                                a.btn.btn--border(href="#") Где купить

                        .intro__img--wrap
                            img.intro__img(src="img/content/os/intro/plug-desktop.svg" width="563" height="456" alt="Название")

        section.section.section-anchor#anchor-1
            .container
                .features
                    .features__body
                        .features__list.row
                            .features__item.col-12.col-md-6.col-lg-4
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/os/features/desktop/item_1.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Подходит для импортозамещения
                                        .features__item-desc Включена в реестр Минкомсвязи России, подходит для импортозамещения согласно приказам Минкомсвязи № 335  и № 486

                            .features__item.col-12.col-md-6.col-lg-4
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/os/features/desktop/item_2.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Высокая совместимость
                                        .features__item-desc ОС совместима с большинством продуктов отечественных и зарубежных производителей ПО и аппаратного оборудования.

                            .features__item.col-12.col-md-6.col-lg-4
                                .features__item--inner
                                    .features__item-img--wrap
                                        img.features__item-img(src="img/content/os/features/desktop/item_3.svg" width="48" height="48" alt="Название")

                                    .features__item-info
                                        .features__item-title Удобный интерфейс
                                        .features__item-desc Удобный интерфейс и современный функционал решения отвечают актуальным потребностям рынка

        section.hero.hero--bg.hero--reverse.section-anchor#anchor-2
            .container
                .hero__body
                    .hero__img--wrap.col-md-4
                        img.hero__img(src="img/content/os/hero/plug.svg" width="544" height="512" alt="Название")

                    .hero__info.col-md-8
                        h2.hero__title Возможности использования
                        p.hero__desc В составе Astra Linux Common Edition релиз «Орёл» — актуальное ядро Linux с длительным сроком поддержки, компоненты «свободного» программного обеспечения и авторские разработки ГК Astra Linux. <br><br> На базе релиза «Орёл» можно создать полноценную рабочую станцию для решения практически всех повседневных задач: работы в интернете, с офисными или мультимедиа-средствами, а также с приложениями, требующими максимального использования возможностей графических видеокарт, в т.ч. современных игр.

        section.section.section-anchor#anchor-3
            .container
                .title__block
                    h2 Состав операционной системы
                    
                .features
                    .features__body
                        .features__list.row
                            .features__item.features__item--short.col-12.col-md-6
                                .features__item--inner
                                    .features__item-info
                                        .features__item-title Серверная версия продукта имеет большой набор сервисов и приложений
                                        .features__item-desc Для корпоративных пользователей: почтовые серверы Dovecot и Exim, web-сервер Apache, СУБД PostgreSQL, файловый сервер SAMBA DC и др.

                            .features__item.features__item--short.col-12.col-md-6
                                .features__item--inner
                                    .features__item-info
                                        .features__item-title ОС в полной мере поддерживает стандарт аутентификации Kerberos.

                            .features__item.features__item--short.col-12.col-md-6
                                .features__item--inner
                                    .features__item-info
                                        .features__item-title Для применения в IT-инфраструктурах предприятий в Astra Linux «Орёл»
                                        .features__item-desc предусмотрены три варианта централизованных систем управления аутентификацией и безопасностью:

                                        ul.list-dots
                                            li собственный домен Astra Linux Directory;
                                            li Samba DC;
                                            li универсальный open-source домен FreeIPA.

                            .features__item.features__item--short.col-12.col-md-6
                                .features__item--inner
                                    .features__item-info
                                        .features__item-title Серверная версия продукта имеет большой набор сервисов и приложений 
                                        .features__item-desc Astra Linux Common Edition имеет встроенное средство управления виртуализацией Virt-Mana ger и иные, что позволяет без дополнительных затрат развернуть среду виртуализации.

        section.section.os-support.section-anchor#anchor-4
            .container
                .title__block
                    h2 ПОДДЕРЖИВАЕМЫЕ ТИПЫ УСТРОЙСТВ
                    p ASTRA LINUX COMMON EDITION — ЕДИНАЯ ПЛАТФОРМА ДЛЯ УСТРОЙСТВ <br> С ПРОЦЕССОРНОЙ АРХИТЕКТУРОЙ Х86–64:

                .os-support__body
                    .tabs
                        .tabs__header
                            .tabs__nav.tabs__nav--huge
                                ul.tabs__nav-list
                                    li.tabs__nav-item.tabs__nav-item--active(data-active-tab="os-support-desktop")
                                        button.tabs__nav-btn(aria-label="Switch tab") Ноутбуки, ПК и серверы

                                    li.tabs__nav-item(data-active-tab="os-support-mobile")
                                        button.tabs__nav-btn(aria-label="Switch tab") Мобильные устройства

                                    li.tabs__nav-item(data-active-tab="os-support-program")
                                        button.tabs__nav-btn(aria-label="Switch tab") Программно-аппаратный элемент

                        .tabs__content.tabs__content--open(data-tab="os-support-desktop")
                            .os-support__img--wrap
                                img.os-support__img(src="img/content/os/support/plug.svg" width="700" height="483" alt="Название")

                        .tabs__content(data-tab="os-support-mobile")
                            .os-support__img--wrap
                                img.os-support__img(src="img/content/os/support/plug.svg" width="700" height="483" alt="Название")

                        .tabs__content(data-tab="os-support-program")
                            .os-support__img--wrap
                                img.os-support__img(src="img/content/os/support/plug.svg" width="700" height="483" alt="Название")

        section.section.os-acosystem.section-anchor#anchor-5
            .container
                .title__block
                    h2 Экосистема продукта
                    p Заказчики и конечные пользователи Astra Linux Common Edition получают универсальное комплексное решение со 100% гарантией работоспособности

                .os-acosystem__body
                    .os-acosystem__row.row
                        .os-acosystem__col.col-12.col-md-6
                            .os-acosystem__col--inner
                                .os-acosystem__col-title Совместимость сертифицированных партнёров
                                .os-acosystem__col-desc Эксперты ГК Astra Linux и её технологических партнёров постоянно тестируют совместимость своей продукции, благодаря чему количество официально сертифицированных совместных решений быстро растёт.

                                .btn--block.os-acosystem__col-btns
                                    a.btn.btn--border(href="#") Наши партнёры

                        .os-acosystem__col.col-12.col-md-6
                            .os-acosystem__col--inner
                                .os-acosystem__col-title Программа поддержки «Ready for astralinux©»
                                .os-acosystem__col-desc Эксперты ГК Astra Linux и её технологических партнёров постоянно тестируют совместимость своей продукции, благодаря чему количество официально сертифицированных совместных решений быстро растёт.

                                .btn--block.os-acosystem__col-btns
                                    a.btn.btn--border(href="#") Подробнее об экосистеме

        section.section.section-bg-gray.p-0
            .container
                .os-hero.os-hero--doc.os-hero--reverse
                    .os-hero__body
                        .os-hero__preview
                            .os-hero__info.col-12.col-md-8
                                .os-hero__text
                                    img.os-hero__icon(src="img/icons/doc-huge.svg" width="72" height="72" alt="Документ")
                                    .os-hero__title ЛИЦЕНЗИОННЫЕ СОГЛАШЕНИЯ
                                    .os-hero__desc Условия лицензирования продукта соответствуют требованиям действующего законодательства РФ и международных правовых актов. Правообладатель продукта — ООО «РусБИТех-Астра» (ГК Astra Linux).

                                .btn--block.os-hero__btns
                                    a.btn.btn--border(href="#") Подробнее

                            .os-hero__img--wrap.col-12.col-md-4
                                img.os-hero__img(src="img/content/os/hero/plug.svg" width="420" height="328" alt="Название")

        section.section
            .container
                .software-asset.software-asset--os
                    .software-asset__row
                        .software-asset__img--wrap.col-lg-4
                            img.software-asset__img(src="img/content/os/hero/graf.webp" width="588" height="556" alt="Название")
            
                        .software-asset__info.col-lg-7
                            .software-asset__title ГРАФИЧЕСКИЙ ИНТЕРФЕЙС «FLY»
                            .software-asset__desc Описание всех графических утилит и программ рабочего стола Fly, а также полное описание его режимов работы и предоставляемых возможностей приведено в электронной справке.

                            .btn--block.software-asset__btns
                                a.btn.btn--border-light(href="#") Виртуальный тур по Astra Linux

block scripts
    script(type="text/javascript").
        //
        // Anchors
        //

        let headerHeight;

        const mq = window.matchMedia('(max-width: 992px)');

        if (mq.matches) {
            headerHeight = document.querySelector('.header').clientHeight + document.querySelector('.anchors').clientHeight; 
        } else {
            headerHeight = document.querySelector('.anchors').clientHeight; 
        }

        function activeAnchor () {
            let sectionAnchor = document.querySelectorAll('.section-anchor');

            for (let i = 0; i < sectionAnchor.length; i++) { 
                document.querySelector('.anchors__nav-link[href="#' + sectionAnchor[i].id + '"]').className=((1 >= sectionAnchor[i].getBoundingClientRect().top - (headerHeight + 24) && sectionAnchor[i].getBoundingClientRect().top - (headerHeight + 24) >= 1-sectionAnchor[i].offsetHeight) ? 'anchors__nav-link is-current' : 'anchors__nav-link');
            }
        }

        window.addEventListener('scroll', activeAnchor, false);
        window.addEventListener('load', activeAnchor, false);

        let anchorsElem = document.querySelectorAll('.anchors__nav-link');
        
        for (let anchor of anchorsElem) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
        
                let scrollDistance = window.scrollY;
                
                const element = document.querySelector(this.getAttribute('href'));
                
                window.scrollTo({
                    top: element.offsetTop - headerHeight - 24,
                    behavior: "smooth"
                });
            })
        }

                            

                



                




                



                

    

