extends layouts/layout.pug

block title
    title Пресс центр Статья | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="press-center.html") Пресс центр

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="press-center-news.html") СМИ о нас

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Статья

    .page-title
        .container
            h1 Связь и массовые коммуникации

    .main-block
        .article
            .container
                .article__panel
                    .article__panel-tags
                        .btns-spacer
                            a.btn.btn--tiny.btn--tag(href="#") Продукт
                            a.btn.btn--tiny.btn--tag(href="#") #RG.RU

                        .briefly__row
                            span.briefly.briefly--date 8 июля 2022

                    .article__speakers
                        .article__speakers-info
                            .article__speakers-name Осипов Илья (Новосибирск)
                            .article__speakers-name Наталья Граф (Новосибирск) 

                        .article__speakers-media
                            .article__speakers-item
                                img.article__speakers-img(src="img/content/avatars/person_1.webp" width="64" height="64" alt="Имя")
                                .article__speakers-name Осипов Илья (Новосибирск)

                            .article__speakers-item
                                img.article__speakers-img(src="img/content/avatars/person_2.webp" width="64" height="64" alt="Имя")
                                .article__speakers-name Наталья Граф (Новосибирск)

                .article__desc-anounce
                    p Что ожидает рынок информационной безопасности в Сибири <br> «РГ» с директором департамента продаж в СФО ГК «Астра» Алексеем Наливайко

                .article__content
                    .article__preview
                        .article__preview-item.article__preview-item--column
                            .article__preview-item--body
                                .article__preview-item-img--wrap
                                    img.article__preview-item-img(src="img/content/press-center/article_preview_short.webp" width="515" height="450" alt="Название ивента")

                                p.article__preview-item-caption Алексей Наливайко: <br> Мы производим экосистему продуктов, которая призвана полностью защитить инфраструктуру заказчиков. / ГК «Астра»

                            .article__preview-item-col
                                p Российский рынок информационной безопасности оказался в необычной ситуации. Зарубежные производители ПО решили свернуть свою деятельность в нашей стране. С другой стороны, резко возросло число кибератак, а значит, и потребность в защитных программных продуктах. <br> Об особенностях внедрения российского софта и вызовах, стоящих перед отраслью, «РГ» поговорила с директором департамента продаж в СФО ГК «Астра» <br> Алексеем Наливайко.

                    .article__content-txt
                        h2 Алексей, какие возможности сегодня открываются для отечественных разработчиков?
                        
                        p Очевидно, что российские компании столкнулись с совершенно новой и достаточно опасной реальностью в сфере информационных технологий и информационной безопасности. Существующая программная инфраструктура в большинстве своём построена на западных решениях. Со временем количество рисков будет расти. Глобальные вендоры продавали не просто продукт, но и обещания гарантированной стабильности. И в один момент просто обманули ожидания заказчиков. Поддержка и обновление ПО остановлены. А возможность масштабирования и развития ограничена или отсутствует вовсе. Восстановить доверие к ним в полной мере будет уже невозможно. 
                        p Текущая ситуация является серьёзным вызовом для отечественных разработчиков. Она открыла для наших компаний российский рынок, на протяжении многих лет монополизированный западными вендорами. При этом мы должны соответствовать, а во многом и превосходить тот технологический и сервисный уровень, к которому привыкли пользователи. Мы наблюдаем стремительное развитие российского рынка. Отечественные решения уже способны закрыть более девяноста процентов потребностей наших заказчиков.
                        p Раньше программное обеспечение для кибербезопасности, в том числе в Сибири, нередко приобреталось заказчиками для галочки. Мы видим позитивные изменения по отношению к информационной безопасности как со стороны государства, так и со стороны бизнеса. Сегодня заказчики хорошо понимают необходимость полноценного использования функционала средств защиты информации.
                        
                        h2 Какие продукты для информационной безопасности готова предложить ваша компания?

                        p Многие знают ГК «Астра» как производителя отечественной операционной системы Astra Linux, которая является нашим флагманским продуктом. Astra Linux Special Edition - единственная в стране ОС, сертифицированная ФСТЭК по первому, наивысшему классу доверия и защиты информации. Она может применяться для обработки любой конфиденциальной информации, вплоть до гостайны под грифом «особой важности», а это самый высокий уровень секретности в стране. Максимальная защищённость наших ОС обеспечивается наличием внутри нашей компании полноценного научного департамента во главе с доктором технических наук, профессором, членом-корреспондентом Академии криптографии Российской Федерации Петром Девяниным. Этот отдел занимается исключительно СЗИ — это собственная запатентованная разработка, не имеющая аналогов в мире.
                        p Но, помимо ОС, сегодня мы создаём настоящую экосистему программных продуктов, которая призвана полностью защитить инфраструктуру заказчиков от санкционных и иных рисков, сделав это максимально просто и быстро.
                        p Это уникальный программный комплекс централизованного управления политиками в инфраструктуре предприятия ALD Pro. Система позволяет устанавливать ПО, инвентаризировать, создавать отчёты, централизованно осуществлять мониторинг и настройку инфраструктуры. Она сочетает в себе простоту настройки и широчайший функционал, такого в мире под Linux ещё не делал никто.
                        p Это единственная отечественная система резервного копирования RuBackup, умеющая создавать резервные копии, минуя установку агентов в виртуальной среде Linux. Она может подписывать резервные копии цифровой подписью для защиты их от изменений.
                        p Это наш собственный почтовик RuPost для замены хорошо известного западного сервиса. В нем реализованы обмен письмами по популярным протоколам, работа с календарями, контактами и функция поиска в адресной книге. А также предусмотрены специальные инструменты миграции с зарубежных решений, инте-грация с другими нашими продуктами.
                        p Это очень мощная система виртуализации «Брест», функционал и возможности которой уже не уступают западным аналогам.
                        p Это защищённое рабочее место WorksPad - на удалённых устройствах. Мобильное решение для тех, кому важно «носить» рабочее место с собой. Пандемия показала его незаменимость.
                        p Это диспетчер подключений Termidesk - для организации удалённой и безопасной работы сотрудников с любых устройств из любой точки мира где есть интернет.
                        p И, конечно, продукты отечественной ИТ-компании ISPsystem, которая, кстати, из Сибири, из Иркутска. Она недавно присоединилась к нашей группе компаний, выпускает платформы для управления ИТ-инфраструктурой.
                        p Все эти продукты используются в связке с защищённой ОС и предоставляют беспрецедентный уровень информационной безопасности заказчикам.

                        figure
                            img(src="img/content/press-center/article_content_1.webp" width="734" height="450" alt="Название")

                        h2 Есть ли серьёзные барьеры на пути внедрения отечественных решений?

                        p Основная проблема, с которой мы сталкиваемся, - дефицит кадров. Нет смысла продавать автомобили людям без водительских удостоверений. Поэтому мы уделяем максимальное внимание образованию. Только в СФО у нас открыто девять учебных центров. Именно с Сибири мы начали практику бесплатных онлайн-курсов по обучению системных администраторов работе в нашей среде.
                        p На данный момент мы провели две обучающих программы для органов исполнительной власти в Красноярском и Алтайском краях. Базовые знания в рамках этих мероприятий получили более 300 инженеров и системных администраторов. Планируем существенно расширить географию этих активностей.
                        p Высшие учебные заведения получают наши лицензии по специальной цене. А кафедры, занимающиеся подготовкой специалистов в области информационной безопасности, - бесплатно, как и школы.
                        p Мы также нуждаемся в квалифицированных сотрудниках по всем направлениям. Сейчас в нашей группе компаний открыто большое количество вакансий. Но, кстати, в Сибири благодаря высокому научно-образовательному потенциалу кадровая проблема ощущается чуть меньше, чем в целом по стране.

                        h2 Какие секторы в Сибири сегодня особенно нуждаются в отечественных продуктах? Кто активно внедряет отечественный софт?

                        p Ещё несколько месяцев назад было сложно представить столь серьёзный интерес к отечественным программным продуктам со стороны всех отраслей — от государственных заказчиков и госкорпораций до небольшого бизнеса и частных лиц.
                        p Со стороны среднего и малого бизнеса в Сибири мы сейчас наблюдаем лавинообразный рост интереса к отечественному ПО. Клиенты активно тестируют все наши продукты, а план инженеров, занимающихся тестовыми показами, расписан на неделю вперёд. Фактически каждый край и область в СФО сегодня заинтересованы в наших продуктах.

        section.section
            .container
                .title__block.text-center
                    h2 Может быть инетресно

                .news__list.row
                    .news__item.news__item--sm.col-12.col-md-6.col-xl-3
                        .news__item--body
                            a.news__item-img--wrap(href="#")
                                img.news__item-img(src="img/content/news/item_1.webp" width="296" height="128" alt="Название статьи")

                            .news__item-info
                                .news__item-text
                                    a.news__item-title(href="#") Юрий Соснин, «Астра»
                                    p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                .news__item-short
                                    .btns-spacer
                                        a.btn.btn--tiny.btn--tag(href="#") Программы
                                        a.btn.btn--tiny.btn--tag(href="#") Обновления

                                    .briefly__row
                                        span.briefly.briefly--tiny.briefly--date 16.07.22

                    .news__item.news__item--sm.col-12.col-md-6.col-xl-3
                        .news__item--body
                            a.news__item-img--wrap(href="#")
                                img.news__item-img(src="img/content/news/item_1.webp" width="296" height="128" alt="Название статьи")

                            .news__item-info
                                .news__item-text
                                    a.news__item-title(href="#") Юрий Соснин, «Астра»
                                    p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                .news__item-short
                                    .btns-spacer
                                        a.btn.btn--tiny.btn--tag(href="#") Программы
                                        a.btn.btn--tiny.btn--tag(href="#") Обновления

                                    .briefly__row
                                        span.briefly.briefly--tiny.briefly--date 16.07.22

                    .news__item.news__item--sm.col-12.col-md-6.col-xl-3
                        .news__item--body
                            a.news__item-img--wrap(href="#")
                                img.news__item-img(src="img/content/news/item_1.webp" width="296" height="128" alt="Название статьи")

                            .news__item-info
                                .news__item-text
                                    a.news__item-title(href="#") Юрий Соснин, «Астра»
                                    p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                .news__item-short
                                    .btns-spacer
                                        a.btn.btn--tiny.btn--tag(href="#") Программы
                                        a.btn.btn--tiny.btn--tag(href="#") Обновления

                                    .briefly__row
                                        span.briefly.briefly--tiny.briefly--date 16.07.22

                    .news__item.news__item--sm.col-12.col-md-6.col-xl-3
                        .news__item--body
                            a.news__item-img--wrap(href="#")
                                img.news__item-img(src="img/content/news/item_1.webp" width="296" height="128" alt="Название статьи")

                            .news__item-info
                                .news__item-text
                                    a.news__item-title(href="#") Юрий Соснин, «Астра»
                                    p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                .news__item-short
                                    .btns-spacer
                                        a.btn.btn--tiny.btn--tag(href="#") Программы
                                        a.btn.btn--tiny.btn--tag(href="#") Обновления

                                    .briefly__row
                                        span.briefly.briefly--tiny.briefly--date 16.07.22