extends layouts/layout.pug

block title
    title Пресс центр Статья | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="press-center.html") Пресс центр

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="press-center-news.html") Новости

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Статья

    .page-title
        .container
            h1 Связь и массовые коммуникации

    .main-block
        .article
            .container
                .article__panel
                    .article__panel-tags
                        .btns-spacer
                            a.btn.btn--tiny.btn--tag(href="#") Продукт
                            a.btn.btn--tiny.btn--tag(href="#") #RG.RU

                        .briefly__row
                            span.briefly.briefly--date 8 июля 2022

                .article__content
                    .article__preview
                        .article__preview-item
                            .article__preview-item--body
                                .article__preview-item-img--wrap
                                    img.article__preview-item-img(src="img/content/press-center/article_preview_1.webp" width="1280" height="450" alt="Название ивента")

                    .article__content-txt
                        h2 Что ожидает рынок информационной безопасности в Сибири

                        p Российский производитель систем освещения ТПК «Вартон» оптимизировал ряд бизнес-процессов с помощью комплекса средств резервного копирования RuBackup. Применение этого продукта позволило автоматизировать процессы резервного копирования, обеспечить для разработчиков быстрый доступ к данным и снизить риски потери информации.
                        p Сотрудники компании «Вартон» реализовали внедрение RuBackup при активной поддержке вендора, ГК «Астра». Специально для этого заказчика вендор разработал модуль, позволяющий архивировать не весь массив данных, а определённые базы СУБД. Продукт успешно инсталлировали, настроили процессы формирования ежедневных резервных копий необходимых заказчику баз «1С» и томов хранения файлов. В итоге, актуальные резервные копии автоматически перемещаются на сервер разработчиков, а устаревшие данные удаляются. Помимо этого, заказчик отмечает, что применение продукта позволило значительно снизить риски, связанные с потерей информации.

                        blockquote 
                            p «Широкое внедрение отечественных решений в области информационной безопасности порождает спрос на высококвалифицированных сотрудников. Учитывая, что разработанные в ГК „Астра“ механизмы защиты ОС Astra Linux Special Edition основаны на развитой научной теории, от специалистов требуется не просто знание практических алгоритмов работы, а глубокое понимание сути. Новое учебное пособие будет полезно преподавателям и обучающимся по направлению „Информационная безопасность“ или по профильным программам дополнительного профессионального образования, а также специалистам по защите информации, пользователям и администраторам продуктов нашей группы компаний»

                            em — прокомментировал Пётр Девянин, <br> соавтор пособия и научный руководитель ГК «Астра»

                        p <strong>«Вартон» — производственная компания, специализирующаяся в сфере светодиодного энергоэффективного освещения</strong>, а также на программном обеспечении для управления инженерными системами зданий. Чтобы постоянно поддерживать высочайший уровень качества продукции, производитель уделяет значительное внимание бизнес-процессам и применяет инновационные технологии. В частности, учёт автоматизирован на базе «1С: ERP», и в эту систему внедрены блок планирования производства, а также ПО для его диспетчеризации. 
                        p За автоматизацию и развитие данного решения в компании отвечает специальный отдел с 7 разработчиками и, чтобы повысить эффективность их работы, нужно было максимально упростить процесс развёртывания актуального бэкапа базы «1С» — обеспечить им постоянный доступк необходимым данным, чтобы не приходилось обращаться к системным администраторам. Для этой цели и было решено использовать комплекс средств резервного копирования RuBackup, так как его функционал оптимально подходит для подобных задач.
            
                        blockquote
                            p «Широкое внедрение отечественных решений в области информационной безопасности порождает спрос на высококвалифицированных сотрудников. Учитывая, что разработанные в ГК „Астра“ механизмы защиты ОС Astra Linux Special Edition основаны на развитой научной теории, от специалистов требуется не просто знание практических алгоритмов работы, а глубокое понимание сути. Новое учебное пособие будет полезно преподавателям и обучающимся по направлению „Информационная безопасность“ или по профильным программам дополнительного профессионального образования, а также специалистам по защите информации, пользователям и администраторам продуктов нашей группы компаний»

                            em — прокомментировал Пётр Девянин, <br> соавтор пособия и научный руководитель ГК «Астра»

        
                        

    