extends layouts/layout.pug

block title
    title Пресс центр | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Пресс центр

    .page-title
        .container
            h1 Пресс-центр

    .main-block
        section.event-section
            .container
                .event-section__panel
                    .event-section__panel-info
                        h2.event-section__panel-title Предстоящие мероприятия
                        p.event-section__panel-desc ГК «АСТРА» активно участвует в общественной жизни и занимается развитием российского IT-комьюнити.

                .news
                    .news__list.row
                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc СберКорус и группа компаний «Астра» подписали договор о долгосрочном стратегическом партнёрстве.

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc СберКорус и группа компаний «Астра» подписали договор о долгосрочном стратегическом партнёрстве.

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

        section.event-section
            .container
                .event-section__panel
                    .event-section__panel-info
                        h2.event-section__panel-title Прошедшие мероприятия
                        p.event-section__panel-desc Мы успешно развиваемся в различных сферах, у нас выходят обновления программ, мы придерживаемся прозрачности наших внутренних событий

                .news
                    .news__list.row
                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc СберКорус и группа компаний «Астра» подписали договор о долгосрочном стратегическом партнёрстве.

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

                        .news__item.col-12.col-md-6.col-xl-3
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_1.webp" width="624" height="160" alt="Название статьи")

                                .news__item-info
                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc СберКорус и группа компаний «Астра» подписали договор о долгосрочном стратегическом партнёрстве.

                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Программы
                                            a.btn.btn--tiny.btn--tag(href="#") Обновления

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--date 16.07.22

        section.event-section
            .container
                .event-section__panel
                    .event-section__panel-info
                        h2.event-section__panel-title Видеоматериалы
                        p.event-section__panel-desc Мы успешно развиваемся в различных сферах, у нас выходят обновления программ, мы придерживаемся прозрачности наших внутренних событий

                .news
                    .news__list.row
                        .news__item.news__item--video.news__item--xl.col-12.col-md-6.col-lg-4
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_2.webp" width="624" height="160" alt="Название статьи")

                                    .news__item--video-panel
                                        button.btn.btn--reset.btn--play(aria-label="Play video")
                                        span.news__item--video-time 50:30

                                .news__item-info
                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Продукт

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--time 50:30
                                            span.briefly.briefly--tiny.briefly--views 79 

                                    .news__item-text
                                        a.news__item-title(href="#") Юрий Соснин, «Астра»
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                        .news__item.news__item--video.news__item--xl.col-12.col-md-6.col-lg-4
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_2.webp" width="624" height="160" alt="Название статьи")

                                    .news__item--video-panel
                                        button.btn.btn--reset.btn--play(aria-label="Play video")
                                        span.news__item--video-time 50:30

                                .news__item-info
                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Продукт

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--time 50:30
                                            span.briefly.briefly--tiny.briefly--views 79 

                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

                        .news__item.news__item--video.news__item--xl.col-12.col-md-6.col-lg-4
                            .news__item--body
                                a.news__item-img--wrap(href="#")
                                    img.news__item-img(src="img/content/news/item_2.webp" width="624" height="160" alt="Название статьи")

                                    .news__item--video-panel
                                        button.btn.btn--reset.btn--play(aria-label="Play video")
                                        span.news__item--video-time 50:30

                                .news__item-info
                                    .news__item-short
                                        .btns-spacer
                                            a.btn.btn--tiny.btn--tag(href="#") Продукт

                                        .briefly__row
                                            span.briefly.briefly--tiny.briefly--time 50:30
                                            span.briefly.briefly--tiny.briefly--views 79 

                                    .news__item-text
                                        a.news__item-title(href="#") АСТРАКОНФ-2022: ИТ-ТРАНСФОРМАЦИЯ
                                        p.news__item-desc «С февраля мы испытываем на себе лавинообразный рост запросов на миграцию»

        section.section.section-panel.section-panel--illustration
            .container
                .section-panel__body
                    .section-panel__info
                        h4.section-panel__title Почему мы любим СМИ и журналистов
                        p.section-panel__desc Потому что они помогают нам расти и развиваться. Благодаря их усилиям о нас узнаёт больше людей: потенциальных клиентов, партнёров и будущих коллег. А мы в свою очередь рады протянуть прессе руку помощи: компания открыта для любых запросов, проектов и совместных инициатив. Обращайтесь к нам, пишите, звоните, приходите в гости — мы постараемся ответить вам как можно быстрее и как можно полнее. <br><br> PR служба: <a href="mailto:pr@astralinux.ru">pr@astralinux.ru</a>

                        .btn--block
                            button.btn.btn--border-light(aria-label="Open modal") Подробнее

                    .section-panel__img--wrap
                        img.section-panel__img(src="img/content/section-panel/bg-4.svg" width="336" height="244" alt="Название блока")

        section.feedback
            .container
                .feedback__body
                    form.form.feedback__form(action="/" method="/")
                        .feedback__form-header
                            h3.feedback__title Связаться с нами

                        .feedback__form-content
                            .form__desc Выберите тему обращения:

                            .feedback__tags
                                .feedback__tags-list
                                    .input
                                        input.input__radio--bg#feedback-theme-0(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-0") Проблемы с работой сайта

                                    .input
                                        input.input__radio--bg#feedback-theme-1(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-1") Сообщить об уязвимости

                                    .input
                                        input.input__radio--bg#feedback-theme-2(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-2") Сотрудничество

                                    .input
                                        input.input__radio--bg#feedback-theme-3(type="radio" name="feedback-theme")
                                        label.input__radio--bg-label(for="feedback-theme-3") Другой вопрос

                            .form__desc Данные для связи:

                            .form__group
                                .input
                                    input.input__elem(type="text" placeholder="ФИО" name="feedback-name")

                                .input
                                    input.input__elem(type="text" placeholder="Номер телефона" name="feedback-phone")

                            .input
                                textarea.input__elem(name="feedback-massage", cols="30", rows="5" placeholder="Ваш вопрос") 

                        .feedback__form-footer
                            button.btn.btn--accent.btn--arrow-right-after(type="button" aria-label="Send form") Далее

                            p.form__agree Нажимая на кнопку, вы даете согласие <br> на <a href="#">обработку персональных данных</a>



                

    

