extends layouts/layout.pug

block title
    title Поддержка - Положение о технической поддержке | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item
                    a.breadcrumbs__link(href="support.html") Поддержка

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Положение о технической поддержке

    .main-block
        .intro.intro--static.intro--light
            .container
                .intro__wrap   
                    .intro__info
                        h1.intro__title Положение о технической поддержке
                        p.intro__desc  <strong>Поддержка Astra Linux — это помощь, которую наши клиенты получают именно в те моменты, когда она нужна.</strong> <br><br> По умолчанию каждый клиент вместе с лицензией на использование ОС получает 1 год технической поддержки пакета «Стандартный». Какими услугами и в каком объёме пользоваться после этого срока — клиенты решают сами. Есть пакеты от бесплатного «Начального» до заряженного «Привилегированного».

                    .intro__img--wrap
                        img.intro__img(src="img/content/support/intro/plug_2.svg" width="484" height="389" alt="Название")

        .doc-layout
            section.section.doc-layout__count
                .container
                    h2 Термины и определения

                    ul.list-paragraph.-list-gap-.-list-item-flex-
                        li 
                            span 1.1
                            p Программный продукт (Продукт) - операционные систем Astra Linux (Astra Linux Special Edition, Astra Linux Common Edition), программный комплекс средств виртуализации «Брест» (ПК СВ «Брест») и его расширения.

                        li
                            span 1.2
                            p Правообладатель — разработчик и обладатель исключительных прав на Продукт — ООО «РусБИТех-Астра».

                        li
                            span 1.3
                            p Техническая поддержка — обеспечиваемые Правообладателем консультации по установке, настройке Продукта, предоставление обновлений и иные действия, предусмотренные в настоящем Положении.

                        li
                            span 1.4
                            p Сертификат на техническую поддержку (Сертификат) - документ, предоставляющий Пользователю право на получение Технической поддержки в определённом объёме, в сроки и на условиях, указанных в договоре и настоящем Положении.

                        li
                            span 1.5
                            p Пользователь: лицо, обладающее Сертификатом на техническую поддержку Продукта.

                        li
                            span 1.6
                            p Служба технической поддержки (СТП) - подразделение Правообладателя, обеспечивающее предоставление Технической поддержки.

                        li
                            span 1.7
                            p Запрос — обращение Пользователя в СТП, содержащее описание проблемы, связанной с Продуктом, или обращение за консультацией по Продукту.

                        li
                            span 1.8
                            p Портал технической поддержки (Портал) - web-ресурс, на котором Пользователь регистрирует Запросы, отслеживает их статус и получает информацию по Продукту.

                        li
                            span 1.9
                            p Время реакции — время, отсчитываемое с момента регистрации Запроса, в течение которого технический специалист гарантированно возьмёт его в работу и либо предоставит ответ, либо запросит уточняющую информацию, необходимую для решения вопроса.

                        li
                            span 1.10
                            p Уровень поддержки — набор услуг Технической поддержки, включающий в себя перечень допустимых категорий вопросов, время реакции и каналы приёма Запросов в соответствии с настоящим Положением.

                        li
                            span 1.11
                            p Документация — руководства и инструкции, размещённые в «Справочном центре», на установочном диске, лицензионные соглашения с конечными пользователями, дополнительные материалы, опубликованные на официальных ресурсах Правообладателя, и любая другая распространяемая как в печатной, так и в электронной форме информация, которая в отдельности или в совокупности с другой документацией определяет правила эксплуатации разрабатываемого и выпускаемого Продукта и (или) отражает сведения, удостоверяющие гарантированные значения основных параметров и характеристик (свойств) Продукта, а также гарантии и сведения по его эксплуатации в течение установленного срока службы.

                        li
                            span 1.12
                            p  «Справочный центр» - web-ресурс Правообладателя, на котором расположена дополнительная информация о Продукте, включающая шаблоны типовых документов, инструкции, руководства по настройке, эксплуатации, работе с Продуктом.

                        li
                            span 1.13
                            p ALP (Astra Linux Portable) - образ операционной системы специального назначения Astra Linux Special Edition, записанный на портативное USB-устройство. В качестве рабочего места можно использовать любой компьютер и при этом на него не нужно устанавливать ОС. <a href="#">Подробнее</a>

            section.section.doc-layout__count
                .container
                    h2 Порядок использования услуг Технической поддержки по Сертификату

                    ul.list-paragraph.-list-gap-.-list-item-flex-
                        li 
                            span 2.1 
                            p С даты получения Сертификата и в течение его срока действия Пользователь имеет право регистрировать Запросы на Техническую поддержку в соответствии с Сертификатом и настоящим Положением.

                        li 
                            span 2.2
                            p Пользователь может использовать своё право на Техническую поддержку по оплаченному Сертификату исключительно в отношении Продукта, используемого на основании действующего лицензионного договора.

                        li 
                            span 2.3
                            p Пользователь может использовать своё право на Техническую поддержку по оплаченному Сертификату исключительно в рамках указанного в Сертификате числа экземпляров Продукта и только относительно того экземпляра Продукта, для которого приобретён данный Сертификат.

                        li 
                            span 2.4
                            p Пользователь не может получать услуги Технической поддержки  по Сертификату более высокого уровня в отношении экземпляров Продукта, для которых приобретён Сертификат более низкого уровня.

                        li 
                            span 2.5
                            p Правообладатель имеет право привлекать к обеспечению Технической поддержки третьих лиц.

                        li 
                            span 2.6
                            p Ответственность за действия третьих лиц перед Пользователем несёт Правообладатель.

                        li 
                            span 2.7
                            p Правообладатель имеет право контролировать соблюдение Пользователем требований, перечисленн ых в настоящем Положении.

            section.section.doc-layout__count
                .container
                    h2 Пакеты услуг технической поддержки

                    include blocks/support-tarrifs

                    section.section
                        include blocks/support-table

                    h4 Расшифровка подпунктов

                    ul.list-paragraph.-list-gap-.-list-count-huge-.-list-item-flex-
                        li 
                            span 3.1
                            p Справочный центр — типовые решения, инструкции по настройке программ и компонентов Продукта.

                        li 
                            span 3.2
                            p База знаний — библиотека, содержащая информацию о ранее решённых инцидентах.

                        li 
                            span 3.3²
                            p Доступ к системе отслеживания ошибок (Bug tracker) - регистрация и отслеживание статусов ошибок, обнаруженных в работе Продукта.

                        li 
                            span 3.4
                            p Личный кабинет — предоставление доступа к сервису «Личный кабинет» с возможностью добавлять учётные записи для доступа к Порталу технической поддержки и настройки уведомлений (видов сообщений, отправляемых на электронную почту).

                        li 
                            span 3.5
                            p Тикет-система — Портал технической поддержки, на котором Пользователь регистрирует Запросы, отслеживает их статус и получает информацию по Продукту.

                        li 
                            span 3.6
                            p Доступ к оперативным обновлениям (обновления безопасности) - нейтрализация угроз эксплуатации и уязвимостей Продукта.

                        li 
                            span 3.7
                            p Доступ к очередным (плановым) обновлениям Продукта

                        li 
                            span 3.8
                            p Возможность перехода на очередное обновление Продукта — услуга доступна при наличии активного сертификата на техническую поддержку.

                        li 
                            span 3.9
                            p Консультации по установке Продукта — вопросы, связанные с установкой Продукта и его компонентов в рамках эксплуатационной документации.

                        li 
                            span 3.10
                            p Консультации по настройке Продукта — вопросы, связанные с настройкой Продукта и его компонентов в рамках эксплуатационной документации.

                        li 
                            span 3.11
                            p Моделирование проблемных ситуаций на тестовом стенде СТП при наличии технической возможности — воспроизведение проблем на тестовом стенде СТП при наличии технической возможности и пошаговой инструкции по воспроизведению.

                        li 
                            span 3.12
                            p Удалённое подключение к системе Пользователя для решения Запроса — подключение сотрудника СТП к стенду Пользователя для диагностики и выполнения действий для решения Запроса. Для удалённого подключения могут быть использованы Ассистент, AnyDesk, TeamViewer.

                        li 
                            span 3.13
                            p Консультации по функционированию Продукта в гетерогенных сетях — вопросы по функционированию основных сервисов и служб в гетерогенных сетях. Например, взаимодействие с контроллерами доменов, сетевое взаимодействие, аутентификация, передача файлов, печатающие устройства.

                        li 
                            span 3.14
                            p Консультации по установке программного обеспечения технологических партнёров — помощь в установке стороннего программного обеспечения при условии подтверждённой совместимости с Продуктом в рамках программы Ready for Astra Linux.

                        li 
                            span 3.15
                            p Анализ совместимости оборудования с Продуктом по предоставленной спецификации — поддержка оборудования гарантируется, только если оно прошло программу поддержки производителей оборудования и программного обеспечения Ready For Astra Linux, при этом прогноз совместимости оборудования с Продуктом можно сделать на основании его спецификации.

                        li 
                            span 3.16
                            p Решение вопросов, связанных с совместимостью оборудования, при наличии технической возможности — набор действий, направленных на обеспечение совместимости оборудования Пользователя с Продуктом или его компонентами, разработка инструкций и рекомендаций по настройке и эксплуатации данного типа оборудования.

                        li 
                            span 3.17
                            p Сборка драйверов для оборудования — сборка драйверов для оборудования под определённую версию Продукта при наличии исходных кодов (возможность сборки драйвера рассматривается СТП).

                        li 
                            span 3.18
                            p Предоставление стандартного ISO-образа ALP - Стандартный ISO-образ Astra Linux предоставляется в Личном кабинете. Также можно самостоятельно создать ISO-образ на базе, используемой Astra Linux, и записать на съёмный USB-носитель.  Инструкция по созданию образа

                        li 
                            span 3.19
                            p Предоставление стандартного ISO-образа ALP - Стандартный ISO-образ Astra Linux предоставляется в Личном кабинете. Также можно самостоятельно создать ISO-образ на базе, используемой Astra Linux, и записать на съёмный USB-носитель. Инструкция по созданию образа

                        li 
                            span 3.20
                            p Выделенный менеджер — персональный менеджер, курирующий решение Запросов. Обращаться к нему напрямую можно в рабочие дни с 09:00 до 18:00 мск.

                        li 
                            span 3.21*
                            p Проектирование инфраструктуры и внедрение — консультации в отношении проектирования инфраструктуры и внедрения решений. <br><br> ¹"Облачная» поддержка не взаимозаменяема другими типами поддержки и распространяется только на Продукцию приобретаемою через облачных провайдеров. <br><br> ²Bug Tracker могут использовать Пользователи, когда-либо зарегистрированные в системе, в том числе при отсутствии действующего сертификата на техническую поддержку. При создании багов через Bug Tracker, не гарантируется их обработка с каким либо SLA. <br><br> ³Консультации оказываются исключительно по установке, но не по настройке или использованию ПО партнёров (помощь по этим вопросам можно получить у вендоров ПО). <br><br> *Услуги доступны по отдельному договору.

            section.section.section-bg-gray.doc-layout__count
                .container
                    h2 Термины и определения

                    ul.list-paragraph.-list-gap-.-list-line-.-list-count-huge-.-list-item-flex-
                        li 
                            span 4.1
                            p При поступлении Запроса, содержащего описание нескольких проблем, он может быть разделён на несколько Запросов с разными степенями критичности.

                        li 
                            span 4.2
                            p При поступлении Запроса, содержащего описание нескольких проблем, он может быть разделён на несколько с разными степенями критичности.

                        li 
                            span 4.3
                            p Служба технической поддержки предоставляет консультации только по установке и настройке программ, входящих в состав Продукта. Исключение — случаи, указанные в пункте 3.14.

                        li 
                            span 4.4
                            p При необходимости Правообладатель запрашивает дополнительную информацию о конфигурации программного обеспечения, оборудования, сети и др.

                        li 
                            span 4.5
                            p Правообладатель не несёт ответственности за  и настроенную систему, на которой будут предоставляться услуги технической поддержки, а также за техническое состояние оборудования.

                        li 
                            span 4.6
                            p При необходимости Правообладатель имеет право запросить воспроизведение проблемы на стенде с предоставлением доступа для сотрудника СТП.

                        li 
                            span 4.7
                            p Консультации в отношении проектирования инфраструктуры и внедрения решений возможны по отдельному договору.

                    h3 4.8 Особенности оказания консультаций по Продуктам

                    ul.list-paragraph.-list-gap-.-list-line-
                        li
                            p <strong>4.8.1</strong> В рамках оказания услуг технической поддержки для заказчиков ПК СВ «Брест» консультации по вопросам эксплуатации следующих программных средств и технологий ограничиваются первичной настройкой:

                            ul
                                li контроллеры домена;
                                li кластерные, сетевые файловые системы и распределённые кластеры хранения данных;
                                li web-сервисы и сервисы балансировки запросов;
                                li сетевые технологии: сегментирование, отказоустойчивость, маршрутизация и др;
                                li СУБД PostgreSQL.

                        li
                            p <strong>4.8.2</strong> Консультации по вопросам эксплуатации СУБД PostgreSQL ограничиваются первичной настройкой:
                            
                            ul
                                li создание и запуск кластера;
                                li создание и разграничение доступа к БД;
                                li создание пользователей и ролей;
                                li мандатное и дискретное управление доступом к информации.

                    h3 4.9 В рамках Технической поддержки Правообладатель не предоставляет консультации:

                    ul.list-default.-list-gap-.-list-gap-line-
                        li По вопросам диагностики инцидентов информационной безопасности;
                        li По модифицированным программным пакетам, в том 
                        li По продукту с ядрами не из состава дистрибутива или изменёнными системными библиотеками;
                        li По проблемам, связанным с функционированием каналов связи;
                        li По проблемам, связанным с серверными  (по сертификату технической поддержки для рабочей станции). Исключение составляют продукты с сертификатами МО РФ;
                        li По вопросам, не описанным в Документации (по стандартному сертификату технической поддержки);
                        li По разработке таких решений автоматизации процессов, как написание скриптов и сценариев, при этом может быть рассмотрено альтернативное решение с помощью встроенного функционала Продукта;
                        li По проблемам, связанным с функционированием Продукта в гетерогенных сетях, установкой и настройкой программного обеспечения технологических партнёров (по стандартному сертификату технической поддержки).

            section.section.doc-layout__count
                .container
                    h3 4.10 Решение вопроса по телефону

                    p Решение вопроса по телефону во время обращения возможно, если для подготовки ответа не нужны дополнительные время и информация. Если для решения вопроса Пользователя требуются log-файлы или другие данные, которые нет возможности или сложно корректно и в полном объёме сообщить по телефону, Пользователю необходимо создать Запрос на Портале. Если по каким-либо причинам Пользователь не может это сделать, сотрудник СТП заводит запрос от имени Пользователя;

                    .list-counter.-list-gap-.-list-count-huge-
                        li Срок подготовки ответа соответствует степени критичности обращения и уровню Технической поддержки;
                        li Если ответ предполагает объёмный текст, то он предоставляется на Портале в виде комментария к Запросу.
                        li При необходимости можно заключить договор на индивидуальную поддержку с дополнительным набором сервисов.

            section.section.doc-layout__count
                .container
                    h2 Степени критичности Запросов

                    .features
                        .features__body
                            .features__list.row
                                <!-- START ELEM FEATURES -->
                                .features__item.col-12.col-md-6
                                    .features__item--inner
                                        .features__item-info
                                            .features__item-title Экстренный
                                            ul.list-dots
                                                li Критические последствия для бизнес-процессов Пользователя или полная потеря работоспособности информационной системы, введённой в промышленную эксплуатацию. 
                                                li Временное решение отсутствует.
                                <!-- END ELEM FEATURES -->

                                .features__item.col-12.col-md-6
                                    .features__item--inner
                                        .features__item-info
                                            .features__item-title Высокий 
                                            ul.list-dots
                                                li Серьёзные последствия для бизнес-процессов Пользователя или частичная потеря работоспособности информационной системы, введённой в промышленную эксплуатацию.
                                                li Временное решение отсутствует.

                                .features__item.col-12.col-md-6
                                    .features__item--inner
                                        .features__item-info
                                            .features__item-title Средний
                                            .features__item-desc Умеренные последствия для бизнес-процессов Пользователя, которые не оказывают существенного влияния на работоспособность Продукта.

                                .features__item.col-12.col-md-6
                                    .features__item--inner
                                        .features__item-info
                                            .features__item-title Низкий
                                            .features__item-desc Влияние на бизнес-процессы Пользователя минимально или отсутствует.

                    ul.list-default.-list-gap-.-list-gap-line-
                        li Степень критичности задаётся Пользователем при регистрации Запроса через Портал.
                        li СТП оставляет за собой право изменять степень критичности в процессе работы над Запросом.
                        li Срок автоматического закрытия Запроса, по которому Пользователь не проявляет активности, - 14 рабочих дней
                        li Правообладатель оставляет за собой право вносить корректировки в настоящее Положение, в связи с чем Пользователь обязуется отслеживать его изменения на официальных ресурсах Правообладателя.
                        li Актуальное положение о Технической поддержке доступно на сайте Правообладателя: <a href="https://astralinux.ru/support">https://astralinux.ru/support</a>.

block scripts
    script(type="text/javascript").
        let listComposition = document.querySelectorAll('.os-compos__item-list');

        for (let i = 0; i < listComposition.length; ++i) {
            if (listComposition[i].clientHeight > 300) {
                listComposition[i].classList.add('is-higher')
            }
        }

        //
        // Accordion
        //

        let items = document.querySelectorAll(".accordion button");
        
        function toggleAccordion() {
            let itemToggle = this.getAttribute('aria-expanded');
            
            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
                this.parentElement.classList.add('is-show');
            } else {
                this.setAttribute('aria-expanded', 'false');
                this.parentElement.classList.remove('is-show');
            }
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));

                

            


