extends layouts/layout.pug

block title
    title RFAL | Astra Linux

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="main.html") Главная

                li.breadcrumbs__item.is-current
                    span.breadcrumbs__link Торговые марки 

    .main-block
        section.trade-marks
            .container
                h1.trade-marks__title Торговые марки
                p.trade-marks__desc Торговые марки ГК "Астра" защищенные авторским правом как <br> интеллектуальная собственность.

                .trade-marks__nav
                    ul.trade-marks__nav-list
                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Astra Linux

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Astra Server

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Astra Automation

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Astra Consulting

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Astra Mobile

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") ALD Pro

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") ПК СВ «БРЕСТ»

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Termidesk

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") RuBackup

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") DCImanager

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") VMmanager

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") BILLmanager

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") RuPost

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") WorksPad

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") Tantor

                        li.trade-marks__nav-item
                            a.trade-marks__nav-link(href="#") ACM

